{
  "openapi": "3.0.0",
  "info": {
    "title": "Applets",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.salemove.com",
      "description": "Glia REST API base URL"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/axon_layouts": {
      "post": {
        "summary": "Create layout",
        "tags": [
          "Applet layout"
        ],
        "description": "Creates a new applet layout for the site with the ID `site_id`.\n\nThe user making the request must have the super manager role on the given site.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "site_id",
                  "name"
                ],
                "type": "object",
                "properties": {
                  "site_id": {
                    "description": "The ID of the site that owns the applet layout. Users with super manager role on the site have full access to\nthis layout.\n",
                    "type": "string"
                  },
                  "name": {
                    "description": "Name of the applet layout.",
                    "type": "string"
                  },
                  "description": {
                    "description": "Short description of the applet layout.",
                    "type": "string"
                  },
                  "is_default": {
                    "description": "Default layout used when no specific applet layout is found with other conditions. `false` by default. Only one\nper site can be `true`. Setting default will change other record to not default.\n",
                    "type": "boolean",
                    "default": false,
                    "enum": [
                      true,
                      false
                    ]
                  },
                  "axon_ids": {
                    "description": "Ordered list of applets to display in this layout.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "queue_ids": {
                    "description": "Ordered list of queues that this applet layout applies to.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Layout successfully created.",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "description": "Applet layout",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "8a70a9c5-d8ff-4e3f-afd8-cdae91bb0e79",
                      "description": "The ID of the applet layout."
                    },
                    "site_id": {
                      "description": "The ID of the site that owns the applet layout. Users with super manager role on the site have full access to\nthis layout.\n",
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of the applet layout.",
                      "type": "string"
                    },
                    "description": {
                      "description": "Short description of the applet layout.",
                      "type": "string"
                    },
                    "is_default": {
                      "description": "Default layout used when no specific applet layout is found with other conditions. `false` by default. Only one\nper site can be `true`. Setting default will change other record to not default.\n",
                      "type": "boolean",
                      "default": false,
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "axon_ids": {
                      "description": "Ordered list of applets to display in this layout.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "queue_ids": {
                      "description": "Ordered list of queues that this applet layout applies to.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List layouts",
        "tags": [
          "Applet layout"
        ],
        "description": "Fetches all available applet layouts.\n\nThe user whose bearer access token is used to make the request must have at least manager role on the given site.\n",
        "parameters": [
          {
            "in": "query",
            "name": "site_ids[]",
            "description": "Only resources for the specified site IDs will be included in the response. Returns all resources if not specified.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "fdbdd61a-36d2-48e3-9eeb-009b18a6aa78",
              "84e2b66c-0289-419c-bd0a-a57fedf77ec7"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "axon_layouts": {
                      "type": "array",
                      "description": "Array of applet layouts, each consisting of the parameters listed below.",
                      "items": {
                        "type": "object",
                        "description": "Applet layout",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "8a70a9c5-d8ff-4e3f-afd8-cdae91bb0e79",
                            "description": "The ID of the applet layout."
                          },
                          "site_id": {
                            "description": "The ID of the site that owns the applet layout. Users with super manager role on the site have full access to\nthis layout.\n",
                            "type": "string"
                          },
                          "name": {
                            "description": "Name of the applet layout.",
                            "type": "string"
                          },
                          "description": {
                            "description": "Short description of the applet layout.",
                            "type": "string"
                          },
                          "is_default": {
                            "description": "Default layout used when no specific applet layout is found with other conditions. `false` by default. Only one\nper site can be `true`. Setting default will change other record to not default.\n",
                            "type": "boolean",
                            "default": false,
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "axon_ids": {
                            "description": "Ordered list of applets to display in this layout.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "queue_ids": {
                            "description": "Ordered list of queues that this applet layout applies to.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was created.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who created the resource.",
                            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was updated.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "updated_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who updated the resource.",
                            "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                          }
                        }
                      }
                    },
                    "axons": {
                      "type": "array",
                      "description": "Array of applets that are displayed in the fetched applet layouts. Each applet consists of the parameters\nlisted below.\n",
                      "items": {
                        "type": "object",
                        "description": "Applet",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "8a70a9c5-d8ff-4e3f-afd8-cdae91bb0e79",
                            "description": "The ID of the applet."
                          },
                          "owner_site_id": {
                            "description": "The ID of the site that owns the applet. Users with super manager role on the site have full access to this applet.\n",
                            "type": "string"
                          },
                          "name": {
                            "description": "Name of the applet.",
                            "type": "string"
                          },
                          "key": {
                            "description": "String identifier of `build_in` axons.",
                            "type": "string",
                            "example": "visitor_panel"
                          },
                          "type": {
                            "description": "Type of an applet.",
                            "type": "string",
                            "example": "custom",
                            "enum": [
                              "custom",
                              "built_in"
                            ]
                          },
                          "description": {
                            "description": "Short description of the applet.",
                            "type": "string"
                          },
                          "source_url": {
                            "description": "Source URL.",
                            "type": "string",
                            "example": "https://api.salemove.com/site_files/24605946-73bc-4bf3-82e5-48f4c7a886f0"
                          },
                          "icon_url": {
                            "description": "Icon URL.",
                            "type": "string",
                            "example": "https://api.salemove.com/site_files/f6a4adb9-dfec-4f41-9ac5-d158b6aea089"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was created.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who created the resource.",
                            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was updated.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "updated_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who updated the resource.",
                            "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/axon_layouts/{layout_id}": {
      "patch": {
        "summary": "Update layout",
        "tags": [
          "Applet layout"
        ],
        "description": "Updates an applet layout.\n\nThe requesting user must have a super manager role on the site where the applet layout belongs to.\n",
        "parameters": [
          {
            "name": "layout_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "7e1a8c6b-6bf3-4a0a-b236-feab1cb25b9f"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of the applet layout.",
                    "type": "string"
                  },
                  "description": {
                    "description": "Short description of the applet layout.",
                    "type": "string"
                  },
                  "is_default": {
                    "description": "Default layout used when no specific applet layout is found with other conditions. `false` by default. Only one\nper site can be `true`. Setting default will change other record to not default.\n",
                    "type": "boolean",
                    "default": false,
                    "enum": [
                      true,
                      false
                    ]
                  },
                  "axon_ids": {
                    "description": "Ordered list of applets to display in this layout.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "queue_ids": {
                    "description": "Ordered list of queues that this applet layout applies to.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "description": "Applet layout",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "8a70a9c5-d8ff-4e3f-afd8-cdae91bb0e79",
                      "description": "The ID of the applet layout."
                    },
                    "site_id": {
                      "description": "The ID of the site that owns the applet layout. Users with super manager role on the site have full access to\nthis layout.\n",
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of the applet layout.",
                      "type": "string"
                    },
                    "description": {
                      "description": "Short description of the applet layout.",
                      "type": "string"
                    },
                    "is_default": {
                      "description": "Default layout used when no specific applet layout is found with other conditions. `false` by default. Only one\nper site can be `true`. Setting default will change other record to not default.\n",
                      "type": "boolean",
                      "default": false,
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "axon_ids": {
                      "description": "Ordered list of applets to display in this layout.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "queue_ids": {
                      "description": "Ordered list of queues that this applet layout applies to.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete layout",
        "tags": [
          "Applet layout"
        ],
        "description": "Deletes the applet layout with `id`.\n\nOnly users with the super manager role can delete layouts.\n",
        "parameters": [
          {
            "name": "layout_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "7e1a8c6b-6bf3-4a0a-b236-feab1cb25b9f"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/axons": {
      "post": {
        "summary": "Create applet",
        "tags": [
          "Applet"
        ],
        "description": "Creates a new applet for the site with the ID `site_id`.\n\nThe user making the request must have the super manager role on the given site.\n",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "owner_site_id",
                  "name",
                  "source"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of the applet.",
                    "type": "string"
                  },
                  "description": {
                    "description": "Short description of the applet.",
                    "type": "string"
                  },
                  "assign_to_site": {
                    "type": "boolean",
                    "description": "Assigns the created applet to the `owner_site_id`.",
                    "default": false
                  },
                  "owner_site_id": {
                    "description": "The ID of the site that owns the applet. Users with super manager role on the site have full access to this applet.\n",
                    "type": "string"
                  },
                  "source": {
                    "type": "string",
                    "format": "binary",
                    "description": "Applet source code. Must be HTML."
                  },
                  "icon": {
                    "type": "string",
                    "format": "binary",
                    "description": "Applet icon. Must be one of `png`, `svg`."
                  }
                }
              },
              "encoding": {
                "source": {
                  "contentType": "text/html"
                },
                "icon": {
                  "contentType": "image/png, image/jpeg"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Applet successfully created.",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "description": "Applet",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "8a70a9c5-d8ff-4e3f-afd8-cdae91bb0e79",
                      "description": "The ID of the applet."
                    },
                    "owner_site_id": {
                      "description": "The ID of the site that owns the applet. Users with super manager role on the site have full access to this applet.\n",
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of the applet.",
                      "type": "string"
                    },
                    "key": {
                      "description": "String identifier of `build_in` axons.",
                      "type": "string",
                      "example": "visitor_panel"
                    },
                    "type": {
                      "description": "Type of an applet.",
                      "type": "string",
                      "example": "custom",
                      "enum": [
                        "custom",
                        "built_in"
                      ]
                    },
                    "description": {
                      "description": "Short description of the applet.",
                      "type": "string"
                    },
                    "source_url": {
                      "description": "Source URL.",
                      "type": "string",
                      "example": "https://api.salemove.com/site_files/24605946-73bc-4bf3-82e5-48f4c7a886f0"
                    },
                    "icon_url": {
                      "description": "Icon URL.",
                      "type": "string",
                      "example": "https://api.salemove.com/site_files/f6a4adb9-dfec-4f41-9ac5-d158b6aea089"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List applets",
        "tags": [
          "Applet"
        ],
        "description": "Fetches all available applets.\n\nThe user whose bearer access token is used to make the request must have at least manager role on the given site.\n",
        "parameters": [
          {
            "in": "query",
            "name": "site_id",
            "description": "ID of the site.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "axons": {
                      "type": "array",
                      "description": "Array of applets, each consisting of the parameters listed below.",
                      "items": {
                        "type": "object",
                        "description": "Applet",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "8a70a9c5-d8ff-4e3f-afd8-cdae91bb0e79",
                            "description": "The ID of the applet."
                          },
                          "owner_site_id": {
                            "description": "The ID of the site that owns the applet. Users with super manager role on the site have full access to this applet.\n",
                            "type": "string"
                          },
                          "name": {
                            "description": "Name of the applet.",
                            "type": "string"
                          },
                          "key": {
                            "description": "String identifier of `build_in` axons.",
                            "type": "string",
                            "example": "visitor_panel"
                          },
                          "type": {
                            "description": "Type of an applet.",
                            "type": "string",
                            "example": "custom",
                            "enum": [
                              "custom",
                              "built_in"
                            ]
                          },
                          "description": {
                            "description": "Short description of the applet.",
                            "type": "string"
                          },
                          "source_url": {
                            "description": "Source URL.",
                            "type": "string",
                            "example": "https://api.salemove.com/site_files/24605946-73bc-4bf3-82e5-48f4c7a886f0"
                          },
                          "icon_url": {
                            "description": "Icon URL.",
                            "type": "string",
                            "example": "https://api.salemove.com/site_files/f6a4adb9-dfec-4f41-9ac5-d158b6aea089"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was created.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who created the resource.",
                            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was updated.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "updated_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who updated the resource.",
                            "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/axons/{applet_id}": {
      "get": {
        "summary": "Fetch applet",
        "tags": [
          "Applet"
        ],
        "description": "Fetches the applet with given `id`.\n\nThe user whose bearer access token is used to make the request must have at least manager role on the given site.\n",
        "parameters": [
          {
            "name": "applet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "6fe4da58-33a6-4477-942d-ec6fbba4ae0a"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "description": "Applet",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "8a70a9c5-d8ff-4e3f-afd8-cdae91bb0e79",
                      "description": "The ID of the applet."
                    },
                    "owner_site_id": {
                      "description": "The ID of the site that owns the applet. Users with super manager role on the site have full access to this applet.\n",
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of the applet.",
                      "type": "string"
                    },
                    "key": {
                      "description": "String identifier of `build_in` axons.",
                      "type": "string",
                      "example": "visitor_panel"
                    },
                    "type": {
                      "description": "Type of an applet.",
                      "type": "string",
                      "example": "custom",
                      "enum": [
                        "custom",
                        "built_in"
                      ]
                    },
                    "description": {
                      "description": "Short description of the applet.",
                      "type": "string"
                    },
                    "source_url": {
                      "description": "Source URL.",
                      "type": "string",
                      "example": "https://api.salemove.com/site_files/24605946-73bc-4bf3-82e5-48f4c7a886f0"
                    },
                    "icon_url": {
                      "description": "Icon URL.",
                      "type": "string",
                      "example": "https://api.salemove.com/site_files/f6a4adb9-dfec-4f41-9ac5-d158b6aea089"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update applet",
        "tags": [
          "Applet"
        ],
        "description": "Updates an applet.\n\nThe requesting operator must have a super manager role on the site where the applet applet belongs to.\n",
        "parameters": [
          {
            "name": "applet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "6fe4da58-33a6-4477-942d-ec6fbba4ae0a"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of the applet.",
                    "type": "string"
                  },
                  "description": {
                    "description": "Short description of the applet.",
                    "type": "string"
                  },
                  "source": {
                    "type": "string",
                    "format": "binary",
                    "description": "Applet source code. Must be HTML."
                  },
                  "icon": {
                    "type": "string",
                    "format": "binary",
                    "description": "Applet icon. Must be one of `png`, `svg`."
                  }
                }
              },
              "encoding": {
                "source": {
                  "contentType": "text/html"
                },
                "icon": {
                  "contentType": "image/png, image/jpeg"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "description": "Applet",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "8a70a9c5-d8ff-4e3f-afd8-cdae91bb0e79",
                      "description": "The ID of the applet."
                    },
                    "owner_site_id": {
                      "description": "The ID of the site that owns the applet. Users with super manager role on the site have full access to this applet.\n",
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of the applet.",
                      "type": "string"
                    },
                    "key": {
                      "description": "String identifier of `build_in` axons.",
                      "type": "string",
                      "example": "visitor_panel"
                    },
                    "type": {
                      "description": "Type of an applet.",
                      "type": "string",
                      "example": "custom",
                      "enum": [
                        "custom",
                        "built_in"
                      ]
                    },
                    "description": {
                      "description": "Short description of the applet.",
                      "type": "string"
                    },
                    "source_url": {
                      "description": "Source URL.",
                      "type": "string",
                      "example": "https://api.salemove.com/site_files/24605946-73bc-4bf3-82e5-48f4c7a886f0"
                    },
                    "icon_url": {
                      "description": "Icon URL.",
                      "type": "string",
                      "example": "https://api.salemove.com/site_files/f6a4adb9-dfec-4f41-9ac5-d158b6aea089"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete applet",
        "tags": [
          "Applet"
        ],
        "description": "Deletes an applet.\n\nThe requesting user must have a super manager role on the site where the applet belongs to.\n",
        "parameters": [
          {
            "name": "applet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "6fe4da58-33a6-4477-942d-ec6fbba4ae0a"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/sites/{site_id}/axons": {
      "post": {
        "summary": "Add applet to site",
        "tags": [
          "Applet site association"
        ],
        "description": "Adds an applet to the site with the ID `site_id`.\n\nThe user making the request must have the super manager role on the given site.\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "site_id",
            "description": "ID of the site.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "axon_id": {
                    "type": "string",
                    "description": "The ID of the applet that will be added to the site.",
                    "example": "cf0596c1-ffad-46a0-84e1-f98e956d4a2f"
                  }
                },
                "required": [
                  "axon_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Applet successfully added.",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "description": "Applet",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "8a70a9c5-d8ff-4e3f-afd8-cdae91bb0e79",
                      "description": "The ID of the applet."
                    },
                    "name": {
                      "description": "Name of the applet.",
                      "type": "string"
                    },
                    "key": {
                      "description": "String identifier of `build_in` axons.",
                      "type": "string",
                      "example": "visitor_panel"
                    },
                    "type": {
                      "description": "Type of an applet.",
                      "type": "string",
                      "example": "custom",
                      "enum": [
                        "custom",
                        "built_in"
                      ]
                    },
                    "description": {
                      "description": "Short description of the applet.",
                      "type": "string"
                    },
                    "source_url": {
                      "description": "Source URL.",
                      "type": "string",
                      "example": "https://api.salemove.com/site_files/24605946-73bc-4bf3-82e5-48f4c7a886f0"
                    },
                    "icon_url": {
                      "description": "Icon URL.",
                      "type": "string",
                      "example": "https://api.salemove.com/site_files/f6a4adb9-dfec-4f41-9ac5-d158b6aea089"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List site's applets",
        "tags": [
          "Applet site association"
        ],
        "description": "Fetches all applets that are associated with the site with the ID `site_id`.\n\nThe user making the request must have the super manager role on the given site.\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "site_id",
            "description": "ID of the site.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "axons": {
                      "type": "array",
                      "description": "Array of applets, each consisting of the parameters listed below.",
                      "items": {
                        "type": "object",
                        "description": "Applet",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "8a70a9c5-d8ff-4e3f-afd8-cdae91bb0e79",
                            "description": "The ID of the applet."
                          },
                          "name": {
                            "description": "Name of the applet.",
                            "type": "string"
                          },
                          "key": {
                            "description": "String identifier of `build_in` axons.",
                            "type": "string",
                            "example": "visitor_panel"
                          },
                          "type": {
                            "description": "Type of an applet.",
                            "type": "string",
                            "example": "custom",
                            "enum": [
                              "custom",
                              "built_in"
                            ]
                          },
                          "description": {
                            "description": "Short description of the applet.",
                            "type": "string"
                          },
                          "source_url": {
                            "description": "Source URL.",
                            "type": "string",
                            "example": "https://api.salemove.com/site_files/24605946-73bc-4bf3-82e5-48f4c7a886f0"
                          },
                          "icon_url": {
                            "description": "Icon URL.",
                            "type": "string",
                            "example": "https://api.salemove.com/site_files/f6a4adb9-dfec-4f41-9ac5-d158b6aea089"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
