{
  "openapi": "3.0.0",
  "info": {
    "title": "Digital Channels",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.salemove.com",
      "description": "Glia REST API base URL"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/router/channels": {
      "post": {
        "summary": "Create digital channel",
        "tags": [
          "Digital channels"
        ],
        "description": "Creates a digital channel for a given site.\n\nDigital channels are used to integrate various messaging platforms with Glia. Via digital channels, engagements\ncan be created between a visitor that is using a platform like Apple Business Chat, WhatsApp, Facebook, Slack,\netc. and an operator on Glia.\n\nAll of the channels have standard properties like `name` and `description`. Depending on the type of channel\n(e.g. Facebook, Apple Business Chat) additional properties are required.\n\nThe user creating a channel must have at least super manager role on the given site.\n",
        "requestBody": {
          "description": "Digital channel's properties",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "A unique ID of the channel. This is automatically generated when creating a channel and cannot be modified.\n",
                        "example": "3c0c1579-6cc8-4933-8dd7-16c743b878e0"
                      },
                      "name": {
                        "type": "string",
                        "description": "Channel name.",
                        "example": "Cherry Store"
                      },
                      "site_id": {
                        "type": "string",
                        "description": "ID of the site to create the channel on. Cannot be modified.",
                        "example": "066441b7-0338-4a9c-89fd-30855d262582"
                      },
                      "queue_id": {
                        "type": "string",
                        "description": "ID of the queue that visitors coming via this channel are sent to.\n",
                        "example": "d8ef4095-b002-4b80-9e70-4c132eaa2df2"
                      },
                      "description": {
                        "type": "string",
                        "description": "Channel description.",
                        "example": "For our FB Cherry Store page."
                      },
                      "context_id": {
                        "type": "string",
                        "description": "ID of the asset which is shown to the operator during the engagement. Assets themselves can be created using\nCreate Asset.\n",
                        "example": "a30984ee-7402-4dd8-9ec3-fcc73d6a2423"
                      },
                      "platform": {
                        "description": "Platform-specific information.\n\nPlatform always has a `type` parameter, but there are also platform-specific parameters.\n",
                        "oneOf": [
                          {
                            "title": "Slack",
                            "description": "Slack parameters",
                            "type": "object",
                            "properties": {
                              "team_id": {
                                "type": "string",
                                "description": "the ID of the Slack Workspace",
                                "example": "T09J2CF0K"
                              },
                              "redirect_uri": {
                                "type": "string",
                                "description": "Used for [OAuth authentication](https://api.slack.com/docs/oauth).\n",
                                "example": "https://example.com"
                              },
                              "code": {
                                "type": "string",
                                "description": "Used for [OAuth authentication](https://api.slack.com/docs/oauth).\n",
                                "example": "ccdaa72ad"
                              },
                              "type": {
                                "type": "string",
                                "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                                "example": "facebook"
                              }
                            },
                            "required": [
                              "type",
                              "team_id",
                              "redirect_uri",
                              "code"
                            ]
                          },
                          {
                            "title": "Facebook",
                            "description": "Facebook channels can be set up in two ways, by creating your own Facebook App or by using Glia's Facebook App.\nDepending on how you want to set up the channel, different parameters are required.\n\nYou can change any of the Facebook-specific parameters via PATCH request. You are also allowed to switch\nbetween using Glia's Facebook App and custom Facebook App.\n",
                            "oneOf": [
                              {
                                "type": "object",
                                "title": "Using Glia's Facebook App",
                                "description": "When using Glia's Facebook App, a Facebook user has to install the Glia App. This is usually done in Glia\nHub's **Admin Console** but can also be accomplished by using Facebook Graph API. To create a new digital\nchannel, parameters in the table below are required. Fields marked as not accessible via API are never\nreturned by API calls (e.g. when getting a list of digital channels).\n",
                                "properties": {
                                  "app_type": {
                                    "type": "string",
                                    "description": "'glia'",
                                    "example": "glia"
                                  },
                                  "page_id": {
                                    "type": "string",
                                    "description": "ID of the Facebook page that is associated with the channel. Note that when updating this, you may also\nhave to update `access_token`.\n",
                                    "example": "2354886464532432"
                                  },
                                  "access_token": {
                                    "type": "string",
                                    "description": "Facebook **user** access token that is used to set up the channel. This can be any short-term or\nlong-term access token that has not yet expired. The token has to have access to the Facebook page with\nID given in `page_id`.\n",
                                    "example": "112233"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                                    "example": "facebook"
                                  }
                                },
                                "required": [
                                  "type",
                                  "app_type",
                                  "page_id",
                                  "access_token"
                                ]
                              },
                              {
                                "type": "object",
                                "title": "Using Custom Facebook App",
                                "description": "All of the parameters below are required to create a Facebook channel when using custom Facebook App.\n",
                                "properties": {
                                  "app_type": {
                                    "type": "string",
                                    "description": "'custom'",
                                    "example": "custom"
                                  },
                                  "page_id": {
                                    "type": "string",
                                    "description": "ID of the Facebook page that is associated with the channel. Note that when updating this, you may also\nhave to update `access_token`.\n",
                                    "example": "112233"
                                  },
                                  "app_secret": {
                                    "type": "string",
                                    "description": "App secret of the Facebook App that is used to set up the channel.\n",
                                    "example": "112233"
                                  },
                                  "access_token": {
                                    "type": "string",
                                    "description": "Facebook **page** access token that is used to set up the channel. This needs to be a permanent access\ntoken that does not expire.\n",
                                    "example": "112233"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                                    "example": "facebook"
                                  }
                                },
                                "required": [
                                  "type",
                                  "app_type",
                                  "page_id",
                                  "app_secret",
                                  "access_token"
                                ]
                              }
                            ]
                          },
                          {
                            "title": "Apple Business Chat",
                            "description": "An Apple Business Chat channel integrates Glia with Apple Business Chat and allows visitors to use\n[iOS Messages](https://www.apple.com/ios/business-chat/) app to reach out to the business and be served on Glia\nplatform.\n\n### Routing Visitors with Group and Intent\n\nThe group and intent ID allow for fine-grained routing of visitors to a Glia channel/queue. When receiving\nmessage from a visitor who is not yet engaged, the channel/queue(s) where the visitor is routed to, is looked\nup as follows:\n\n* If there exists a channel whose group and intent ID both match the visitor's, that channel is used.\n\n* If there was no match in the previous step, a channel with intent and group ID set to `null` will be used.\n\n**Note:** You cannot create two channels which have the same `business_id`, `intent_id` and `group_id`.\n",
                            "type": "object",
                            "properties": {
                              "business_id": {
                                "type": "string",
                                "description": "Business ID from Apple Business Register. It is allowed to create multiple channels with the same business\nID but they all have to be associated with the same site.\n",
                                "example": "33a7e6df-bf38-4805-816b-520652e97d20"
                              },
                              "business_name": {
                                "type": "string",
                                "description": "A friendly identifier for `business_id`. The value of this field does not affect the operational\nfunctionality of a channel.\n",
                                "example": "Acme"
                              },
                              "intent_id": {
                                "type": "string",
                                "description": "Intent for routing messages.",
                                "example": "credit-card-account"
                              },
                              "group_id": {
                                "type": "string",
                                "description": "Group for routing messages.",
                                "example": "credit-card-department"
                              },
                              "type": {
                                "type": "string",
                                "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                                "example": "facebook"
                              }
                            },
                            "required": [
                              "type",
                              "business_id",
                              "business_name"
                            ]
                          }
                        ]
                      },
                      "created_by": {
                        "type": "string",
                        "description": "ID of the operator that created the channel. It is set automatically when creating a channel.\n",
                        "example": "6fd3ba96-5c1f-4404-84ad-ceaf54dd0dcc"
                      },
                      "updated_by": {
                        "type": "string",
                        "description": "ID of the operator that most recently updated the channel. It is set automatically when updating a channel.\n",
                        "example": "6fd3ba96-5c1f-4404-84ad-ceaf54dd0dcc"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Time when the channel was created. This is automatically set when creating a channel.\n",
                        "example": "2019-06-04T07:55:42.000Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Time when the channel was last modified. This is automatically set when updating a channel.\n",
                        "example": "2019-06-04T07:55:42.000Z"
                      }
                    }
                  },
                  {
                    "required": [
                      "id",
                      "name",
                      "site_id",
                      "queue_id",
                      "platform",
                      "created_by",
                      "created_at"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The channel is successfully created. Returns the properties of the created digital channel. Note that fields\nwith sensitive information (in the example `app_secret` and `access_token`) are not returned.\n",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique ID of the channel. This is automatically generated when creating a channel and cannot be modified.\n",
                      "example": "3c0c1579-6cc8-4933-8dd7-16c743b878e0"
                    },
                    "name": {
                      "type": "string",
                      "description": "Channel name.",
                      "example": "Cherry Store"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "ID of the site to create the channel on. Cannot be modified.",
                      "example": "066441b7-0338-4a9c-89fd-30855d262582"
                    },
                    "queue_id": {
                      "type": "string",
                      "description": "ID of the queue that visitors coming via this channel are sent to.\n",
                      "example": "d8ef4095-b002-4b80-9e70-4c132eaa2df2"
                    },
                    "description": {
                      "type": "string",
                      "description": "Channel description.",
                      "example": "For our FB Cherry Store page."
                    },
                    "context_id": {
                      "type": "string",
                      "description": "ID of the asset which is shown to the operator during the engagement. Assets themselves can be created using\nCreate Asset.\n",
                      "example": "a30984ee-7402-4dd8-9ec3-fcc73d6a2423"
                    },
                    "platform": {
                      "description": "Platform-specific information.\n\nPlatform always has a `type` parameter, but there are also platform-specific parameters.\n",
                      "oneOf": [
                        {
                          "title": "Slack",
                          "description": "Slack parameters",
                          "type": "object",
                          "properties": {
                            "team_id": {
                              "type": "string",
                              "description": "the ID of the Slack Workspace",
                              "example": "T09J2CF0K"
                            },
                            "redirect_uri": {
                              "type": "string",
                              "description": "Used for [OAuth authentication](https://api.slack.com/docs/oauth).\n",
                              "example": "https://example.com"
                            },
                            "code": {
                              "type": "string",
                              "description": "Used for [OAuth authentication](https://api.slack.com/docs/oauth).\n",
                              "example": "ccdaa72ad"
                            },
                            "type": {
                              "type": "string",
                              "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                              "example": "facebook"
                            }
                          },
                          "required": [
                            "type",
                            "team_id",
                            "redirect_uri",
                            "code"
                          ]
                        },
                        {
                          "title": "Facebook",
                          "description": "Facebook channels can be set up in two ways, by creating your own Facebook App or by using Glia's Facebook App.\nDepending on how you want to set up the channel, different parameters are required.\n\nYou can change any of the Facebook-specific parameters via PATCH request. You are also allowed to switch\nbetween using Glia's Facebook App and custom Facebook App.\n",
                          "oneOf": [
                            {
                              "type": "object",
                              "title": "Using Glia's Facebook App",
                              "description": "When using Glia's Facebook App, a Facebook user has to install the Glia App. This is usually done in Glia\nHub's **Admin Console** but can also be accomplished by using Facebook Graph API. To create a new digital\nchannel, parameters in the table below are required. Fields marked as not accessible via API are never\nreturned by API calls (e.g. when getting a list of digital channels).\n",
                              "properties": {
                                "app_type": {
                                  "type": "string",
                                  "description": "'glia'",
                                  "example": "glia"
                                },
                                "page_id": {
                                  "type": "string",
                                  "description": "ID of the Facebook page that is associated with the channel. Note that when updating this, you may also\nhave to update `access_token`.\n",
                                  "example": "2354886464532432"
                                },
                                "access_token": {
                                  "type": "string",
                                  "description": "Facebook **user** access token that is used to set up the channel. This can be any short-term or\nlong-term access token that has not yet expired. The token has to have access to the Facebook page with\nID given in `page_id`.\n",
                                  "example": "112233"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                                  "example": "facebook"
                                }
                              },
                              "required": [
                                "type",
                                "app_type",
                                "page_id",
                                "access_token"
                              ]
                            },
                            {
                              "type": "object",
                              "title": "Using Custom Facebook App",
                              "description": "All of the parameters below are required to create a Facebook channel when using custom Facebook App.\n",
                              "properties": {
                                "app_type": {
                                  "type": "string",
                                  "description": "'custom'",
                                  "example": "custom"
                                },
                                "page_id": {
                                  "type": "string",
                                  "description": "ID of the Facebook page that is associated with the channel. Note that when updating this, you may also\nhave to update `access_token`.\n",
                                  "example": "112233"
                                },
                                "app_secret": {
                                  "type": "string",
                                  "description": "App secret of the Facebook App that is used to set up the channel.\n",
                                  "example": "112233"
                                },
                                "access_token": {
                                  "type": "string",
                                  "description": "Facebook **page** access token that is used to set up the channel. This needs to be a permanent access\ntoken that does not expire.\n",
                                  "example": "112233"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                                  "example": "facebook"
                                }
                              },
                              "required": [
                                "type",
                                "app_type",
                                "page_id",
                                "app_secret",
                                "access_token"
                              ]
                            }
                          ]
                        },
                        {
                          "title": "Apple Business Chat",
                          "description": "An Apple Business Chat channel integrates Glia with Apple Business Chat and allows visitors to use\n[iOS Messages](https://www.apple.com/ios/business-chat/) app to reach out to the business and be served on Glia\nplatform.\n\n### Routing Visitors with Group and Intent\n\nThe group and intent ID allow for fine-grained routing of visitors to a Glia channel/queue. When receiving\nmessage from a visitor who is not yet engaged, the channel/queue(s) where the visitor is routed to, is looked\nup as follows:\n\n* If there exists a channel whose group and intent ID both match the visitor's, that channel is used.\n\n* If there was no match in the previous step, a channel with intent and group ID set to `null` will be used.\n\n**Note:** You cannot create two channels which have the same `business_id`, `intent_id` and `group_id`.\n",
                          "type": "object",
                          "properties": {
                            "business_id": {
                              "type": "string",
                              "description": "Business ID from Apple Business Register. It is allowed to create multiple channels with the same business\nID but they all have to be associated with the same site.\n",
                              "example": "33a7e6df-bf38-4805-816b-520652e97d20"
                            },
                            "business_name": {
                              "type": "string",
                              "description": "A friendly identifier for `business_id`. The value of this field does not affect the operational\nfunctionality of a channel.\n",
                              "example": "Acme"
                            },
                            "intent_id": {
                              "type": "string",
                              "description": "Intent for routing messages.",
                              "example": "credit-card-account"
                            },
                            "group_id": {
                              "type": "string",
                              "description": "Group for routing messages.",
                              "example": "credit-card-department"
                            },
                            "type": {
                              "type": "string",
                              "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                              "example": "facebook"
                            }
                          },
                          "required": [
                            "type",
                            "business_id",
                            "business_name"
                          ]
                        }
                      ]
                    },
                    "created_by": {
                      "type": "string",
                      "description": "ID of the operator that created the channel. It is set automatically when creating a channel.\n",
                      "example": "6fd3ba96-5c1f-4404-84ad-ceaf54dd0dcc"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "ID of the operator that most recently updated the channel. It is set automatically when updating a channel.\n",
                      "example": "6fd3ba96-5c1f-4404-84ad-ceaf54dd0dcc"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Time when the channel was created. This is automatically set when creating a channel.\n",
                      "example": "2019-06-04T07:55:42.000Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "Time when the channel was last modified. This is automatically set when updating a channel.\n",
                      "example": "2019-06-04T07:55:42.000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Your bearer token has expired or you are not authorized to perform this request.\n"
          },
          "403": {
            "description": "Your bearer token is valid but you have no access to the requested resource.\n"
          },
          "422": {
            "description": "Request is invalid. This occurs when some of the required fields are missing or in invalid format. The\nfollowing error occurs when `name` is in invalid format and `app_secret` is missing.\n",
            "content": {
              "application/vnd.salemove.v1+json": {
                "example": {
                  "error": "Invalid request",
                  "details": {
                    "name": [
                      "is invalid"
                    ],
                    "app_secret": [
                      "can't be blank"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error has occurred. Please try again later."
          }
        }
      },
      "get": {
        "summary": "List digital channels",
        "tags": [
          "Digital channels"
        ],
        "description": "Returns all digital channels associated with a given site.\n\nThe user retrieving the channels must have at least super manager role on the given site.\n",
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "required": true,
            "description": "ID of the site.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched channels for a site.",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique ID of the channel. This is automatically generated when creating a channel and cannot be modified.\n",
                      "example": "3c0c1579-6cc8-4933-8dd7-16c743b878e0"
                    },
                    "name": {
                      "type": "string",
                      "description": "Channel name.",
                      "example": "Cherry Store"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "ID of the site to create the channel on. Cannot be modified.",
                      "example": "066441b7-0338-4a9c-89fd-30855d262582"
                    },
                    "queue_id": {
                      "type": "string",
                      "description": "ID of the queue that visitors coming via this channel are sent to.\n",
                      "example": "d8ef4095-b002-4b80-9e70-4c132eaa2df2"
                    },
                    "description": {
                      "type": "string",
                      "description": "Channel description.",
                      "example": "For our FB Cherry Store page."
                    },
                    "context_id": {
                      "type": "string",
                      "description": "ID of the asset which is shown to the operator during the engagement. Assets themselves can be created using\nCreate Asset.\n",
                      "example": "a30984ee-7402-4dd8-9ec3-fcc73d6a2423"
                    },
                    "platform": {
                      "description": "Platform-specific information.\n\nPlatform always has a `type` parameter, but there are also platform-specific parameters.\n",
                      "oneOf": [
                        {
                          "title": "Slack",
                          "description": "Slack parameters",
                          "type": "object",
                          "properties": {
                            "team_id": {
                              "type": "string",
                              "description": "the ID of the Slack Workspace",
                              "example": "T09J2CF0K"
                            },
                            "redirect_uri": {
                              "type": "string",
                              "description": "Used for [OAuth authentication](https://api.slack.com/docs/oauth).\n",
                              "example": "https://example.com"
                            },
                            "code": {
                              "type": "string",
                              "description": "Used for [OAuth authentication](https://api.slack.com/docs/oauth).\n",
                              "example": "ccdaa72ad"
                            },
                            "type": {
                              "type": "string",
                              "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                              "example": "facebook"
                            }
                          },
                          "required": [
                            "type",
                            "team_id",
                            "redirect_uri",
                            "code"
                          ]
                        },
                        {
                          "title": "Facebook",
                          "description": "Facebook channels can be set up in two ways, by creating your own Facebook App or by using Glia's Facebook App.\nDepending on how you want to set up the channel, different parameters are required.\n\nYou can change any of the Facebook-specific parameters via PATCH request. You are also allowed to switch\nbetween using Glia's Facebook App and custom Facebook App.\n",
                          "oneOf": [
                            {
                              "type": "object",
                              "title": "Using Glia's Facebook App",
                              "description": "When using Glia's Facebook App, a Facebook user has to install the Glia App. This is usually done in Glia\nHub's **Admin Console** but can also be accomplished by using Facebook Graph API. To create a new digital\nchannel, parameters in the table below are required. Fields marked as not accessible via API are never\nreturned by API calls (e.g. when getting a list of digital channels).\n",
                              "properties": {
                                "app_type": {
                                  "type": "string",
                                  "description": "'glia'",
                                  "example": "glia"
                                },
                                "page_id": {
                                  "type": "string",
                                  "description": "ID of the Facebook page that is associated with the channel. Note that when updating this, you may also\nhave to update `access_token`.\n",
                                  "example": "2354886464532432"
                                },
                                "access_token": {
                                  "type": "string",
                                  "description": "Facebook **user** access token that is used to set up the channel. This can be any short-term or\nlong-term access token that has not yet expired. The token has to have access to the Facebook page with\nID given in `page_id`.\n",
                                  "example": "112233"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                                  "example": "facebook"
                                }
                              },
                              "required": [
                                "type",
                                "app_type",
                                "page_id",
                                "access_token"
                              ]
                            },
                            {
                              "type": "object",
                              "title": "Using Custom Facebook App",
                              "description": "All of the parameters below are required to create a Facebook channel when using custom Facebook App.\n",
                              "properties": {
                                "app_type": {
                                  "type": "string",
                                  "description": "'custom'",
                                  "example": "custom"
                                },
                                "page_id": {
                                  "type": "string",
                                  "description": "ID of the Facebook page that is associated with the channel. Note that when updating this, you may also\nhave to update `access_token`.\n",
                                  "example": "112233"
                                },
                                "app_secret": {
                                  "type": "string",
                                  "description": "App secret of the Facebook App that is used to set up the channel.\n",
                                  "example": "112233"
                                },
                                "access_token": {
                                  "type": "string",
                                  "description": "Facebook **page** access token that is used to set up the channel. This needs to be a permanent access\ntoken that does not expire.\n",
                                  "example": "112233"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                                  "example": "facebook"
                                }
                              },
                              "required": [
                                "type",
                                "app_type",
                                "page_id",
                                "app_secret",
                                "access_token"
                              ]
                            }
                          ]
                        },
                        {
                          "title": "Apple Business Chat",
                          "description": "An Apple Business Chat channel integrates Glia with Apple Business Chat and allows visitors to use\n[iOS Messages](https://www.apple.com/ios/business-chat/) app to reach out to the business and be served on Glia\nplatform.\n\n### Routing Visitors with Group and Intent\n\nThe group and intent ID allow for fine-grained routing of visitors to a Glia channel/queue. When receiving\nmessage from a visitor who is not yet engaged, the channel/queue(s) where the visitor is routed to, is looked\nup as follows:\n\n* If there exists a channel whose group and intent ID both match the visitor's, that channel is used.\n\n* If there was no match in the previous step, a channel with intent and group ID set to `null` will be used.\n\n**Note:** You cannot create two channels which have the same `business_id`, `intent_id` and `group_id`.\n",
                          "type": "object",
                          "properties": {
                            "business_id": {
                              "type": "string",
                              "description": "Business ID from Apple Business Register. It is allowed to create multiple channels with the same business\nID but they all have to be associated with the same site.\n",
                              "example": "33a7e6df-bf38-4805-816b-520652e97d20"
                            },
                            "business_name": {
                              "type": "string",
                              "description": "A friendly identifier for `business_id`. The value of this field does not affect the operational\nfunctionality of a channel.\n",
                              "example": "Acme"
                            },
                            "intent_id": {
                              "type": "string",
                              "description": "Intent for routing messages.",
                              "example": "credit-card-account"
                            },
                            "group_id": {
                              "type": "string",
                              "description": "Group for routing messages.",
                              "example": "credit-card-department"
                            },
                            "type": {
                              "type": "string",
                              "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                              "example": "facebook"
                            }
                          },
                          "required": [
                            "type",
                            "business_id",
                            "business_name"
                          ]
                        }
                      ]
                    },
                    "created_by": {
                      "type": "string",
                      "description": "ID of the operator that created the channel. It is set automatically when creating a channel.\n",
                      "example": "6fd3ba96-5c1f-4404-84ad-ceaf54dd0dcc"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "ID of the operator that most recently updated the channel. It is set automatically when updating a channel.\n",
                      "example": "6fd3ba96-5c1f-4404-84ad-ceaf54dd0dcc"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Time when the channel was created. This is automatically set when creating a channel.\n",
                      "example": "2019-06-04T07:55:42.000Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "Time when the channel was last modified. This is automatically set when updating a channel.\n",
                      "example": "2019-06-04T07:55:42.000Z"
                    }
                  }
                },
                "example": [
                  {
                    "id": "3c0c1579-6cc8-4933-8dd7-16c743b878e0",
                    "name": "Cherry Store",
                    "site_id": "066441b7-0338-4a9c-89fd-30855d262582",
                    "queue_id": "d8ef4095-b002-4b80-9e70-4c132eaa2df2",
                    "description": "For our FB Cherry Store page.",
                    "platform": {
                      "type": "facebook",
                      "page_id": "2354886464532432"
                    },
                    "created_by": "6fd3ba96-5c1f-4404-84ad-ceaf54dd0dcc",
                    "updated_by": "6fd3ba96-5c1f-4404-84ad-ceaf54dd0dcc",
                    "created_at": "2019-06-04T07:55:42.000Z",
                    "updated_at": "2019-06-04T07:55:42.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Your bearer token has expired or you are not authorized to perform this request.\n"
          },
          "403": {
            "description": "Your bearer token is valid but you have no access to the requested resource.\n"
          },
          "422": {
            "description": "Request is invalid.\n\nThis occurs when some of the required fields are missing or in invalid format. The following error occurs\nwhen `site_id` is missing.\n",
            "content": {
              "application/vnd.salemove.v1+json": {
                "example": {
                  "error": "Invalid request",
                  "details": {
                    "site_id": [
                      "can't be blank"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error has occurred. Please try again later."
          }
        }
      }
    },
    "/router/channels/{id}": {
      "patch": {
        "summary": "Update digital channel",
        "tags": [
          "Digital channels"
        ],
        "description": "Updates an existing channel.\n\nOnly parameters provided with the request will be updated. Note that `id`, `site_id` and `type` in `platform`\ncannot be changed.\n\nThe user updating a channel must have at least super manager role on the given site.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Channel ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Digital channel's properties to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "A unique ID of the channel. This is automatically generated when creating a channel and cannot be modified.\n",
                    "example": "3c0c1579-6cc8-4933-8dd7-16c743b878e0"
                  },
                  "name": {
                    "type": "string",
                    "description": "Channel name.",
                    "example": "Cherry Store"
                  },
                  "site_id": {
                    "type": "string",
                    "description": "ID of the site to create the channel on. Cannot be modified.",
                    "example": "066441b7-0338-4a9c-89fd-30855d262582"
                  },
                  "queue_id": {
                    "type": "string",
                    "description": "ID of the queue that visitors coming via this channel are sent to.\n",
                    "example": "d8ef4095-b002-4b80-9e70-4c132eaa2df2"
                  },
                  "description": {
                    "type": "string",
                    "description": "Channel description.",
                    "example": "For our FB Cherry Store page."
                  },
                  "context_id": {
                    "type": "string",
                    "description": "ID of the asset which is shown to the operator during the engagement. Assets themselves can be created using\nCreate Asset.\n",
                    "example": "a30984ee-7402-4dd8-9ec3-fcc73d6a2423"
                  },
                  "platform": {
                    "description": "Platform-specific information.\n\nPlatform always has a `type` parameter, but there are also platform-specific parameters.\n",
                    "oneOf": [
                      {
                        "title": "Slack",
                        "description": "Slack parameters",
                        "type": "object",
                        "properties": {
                          "team_id": {
                            "type": "string",
                            "description": "the ID of the Slack Workspace",
                            "example": "T09J2CF0K"
                          },
                          "redirect_uri": {
                            "type": "string",
                            "description": "Used for [OAuth authentication](https://api.slack.com/docs/oauth).\n",
                            "example": "https://example.com"
                          },
                          "code": {
                            "type": "string",
                            "description": "Used for [OAuth authentication](https://api.slack.com/docs/oauth).\n",
                            "example": "ccdaa72ad"
                          },
                          "type": {
                            "type": "string",
                            "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                            "example": "facebook"
                          }
                        },
                        "required": [
                          "type",
                          "team_id",
                          "redirect_uri",
                          "code"
                        ]
                      },
                      {
                        "title": "Facebook",
                        "description": "Facebook channels can be set up in two ways, by creating your own Facebook App or by using Glia's Facebook App.\nDepending on how you want to set up the channel, different parameters are required.\n\nYou can change any of the Facebook-specific parameters via PATCH request. You are also allowed to switch\nbetween using Glia's Facebook App and custom Facebook App.\n",
                        "oneOf": [
                          {
                            "type": "object",
                            "title": "Using Glia's Facebook App",
                            "description": "When using Glia's Facebook App, a Facebook user has to install the Glia App. This is usually done in Glia\nHub's **Admin Console** but can also be accomplished by using Facebook Graph API. To create a new digital\nchannel, parameters in the table below are required. Fields marked as not accessible via API are never\nreturned by API calls (e.g. when getting a list of digital channels).\n",
                            "properties": {
                              "app_type": {
                                "type": "string",
                                "description": "'glia'",
                                "example": "glia"
                              },
                              "page_id": {
                                "type": "string",
                                "description": "ID of the Facebook page that is associated with the channel. Note that when updating this, you may also\nhave to update `access_token`.\n",
                                "example": "2354886464532432"
                              },
                              "access_token": {
                                "type": "string",
                                "description": "Facebook **user** access token that is used to set up the channel. This can be any short-term or\nlong-term access token that has not yet expired. The token has to have access to the Facebook page with\nID given in `page_id`.\n",
                                "example": "112233"
                              },
                              "type": {
                                "type": "string",
                                "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                                "example": "facebook"
                              }
                            },
                            "required": [
                              "type",
                              "app_type",
                              "page_id",
                              "access_token"
                            ]
                          },
                          {
                            "type": "object",
                            "title": "Using Custom Facebook App",
                            "description": "All of the parameters below are required to create a Facebook channel when using custom Facebook App.\n",
                            "properties": {
                              "app_type": {
                                "type": "string",
                                "description": "'custom'",
                                "example": "custom"
                              },
                              "page_id": {
                                "type": "string",
                                "description": "ID of the Facebook page that is associated with the channel. Note that when updating this, you may also\nhave to update `access_token`.\n",
                                "example": "112233"
                              },
                              "app_secret": {
                                "type": "string",
                                "description": "App secret of the Facebook App that is used to set up the channel.\n",
                                "example": "112233"
                              },
                              "access_token": {
                                "type": "string",
                                "description": "Facebook **page** access token that is used to set up the channel. This needs to be a permanent access\ntoken that does not expire.\n",
                                "example": "112233"
                              },
                              "type": {
                                "type": "string",
                                "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                                "example": "facebook"
                              }
                            },
                            "required": [
                              "type",
                              "app_type",
                              "page_id",
                              "app_secret",
                              "access_token"
                            ]
                          }
                        ]
                      },
                      {
                        "title": "Apple Business Chat",
                        "description": "An Apple Business Chat channel integrates Glia with Apple Business Chat and allows visitors to use\n[iOS Messages](https://www.apple.com/ios/business-chat/) app to reach out to the business and be served on Glia\nplatform.\n\n### Routing Visitors with Group and Intent\n\nThe group and intent ID allow for fine-grained routing of visitors to a Glia channel/queue. When receiving\nmessage from a visitor who is not yet engaged, the channel/queue(s) where the visitor is routed to, is looked\nup as follows:\n\n* If there exists a channel whose group and intent ID both match the visitor's, that channel is used.\n\n* If there was no match in the previous step, a channel with intent and group ID set to `null` will be used.\n\n**Note:** You cannot create two channels which have the same `business_id`, `intent_id` and `group_id`.\n",
                        "type": "object",
                        "properties": {
                          "business_id": {
                            "type": "string",
                            "description": "Business ID from Apple Business Register. It is allowed to create multiple channels with the same business\nID but they all have to be associated with the same site.\n",
                            "example": "33a7e6df-bf38-4805-816b-520652e97d20"
                          },
                          "business_name": {
                            "type": "string",
                            "description": "A friendly identifier for `business_id`. The value of this field does not affect the operational\nfunctionality of a channel.\n",
                            "example": "Acme"
                          },
                          "intent_id": {
                            "type": "string",
                            "description": "Intent for routing messages.",
                            "example": "credit-card-account"
                          },
                          "group_id": {
                            "type": "string",
                            "description": "Group for routing messages.",
                            "example": "credit-card-department"
                          },
                          "type": {
                            "type": "string",
                            "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                            "example": "facebook"
                          }
                        },
                        "required": [
                          "type",
                          "business_id",
                          "business_name"
                        ]
                      }
                    ]
                  },
                  "created_by": {
                    "type": "string",
                    "description": "ID of the operator that created the channel. It is set automatically when creating a channel.\n",
                    "example": "6fd3ba96-5c1f-4404-84ad-ceaf54dd0dcc"
                  },
                  "updated_by": {
                    "type": "string",
                    "description": "ID of the operator that most recently updated the channel. It is set automatically when updating a channel.\n",
                    "example": "6fd3ba96-5c1f-4404-84ad-ceaf54dd0dcc"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "Time when the channel was created. This is automatically set when creating a channel.\n",
                    "example": "2019-06-04T07:55:42.000Z"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "Time when the channel was last modified. This is automatically set when updating a channel.\n",
                    "example": "2019-06-04T07:55:42.000Z"
                  }
                }
              },
              "example": {
                "name": "Berry Store",
                "description": "For our FB Berry Store page."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The channel is successfully updated. Returns the updated channel.",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique ID of the channel. This is automatically generated when creating a channel and cannot be modified.\n",
                      "example": "3c0c1579-6cc8-4933-8dd7-16c743b878e0"
                    },
                    "name": {
                      "type": "string",
                      "description": "Channel name.",
                      "example": "Cherry Store"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "ID of the site to create the channel on. Cannot be modified.",
                      "example": "066441b7-0338-4a9c-89fd-30855d262582"
                    },
                    "queue_id": {
                      "type": "string",
                      "description": "ID of the queue that visitors coming via this channel are sent to.\n",
                      "example": "d8ef4095-b002-4b80-9e70-4c132eaa2df2"
                    },
                    "description": {
                      "type": "string",
                      "description": "Channel description.",
                      "example": "For our FB Cherry Store page."
                    },
                    "context_id": {
                      "type": "string",
                      "description": "ID of the asset which is shown to the operator during the engagement. Assets themselves can be created using\nCreate Asset.\n",
                      "example": "a30984ee-7402-4dd8-9ec3-fcc73d6a2423"
                    },
                    "platform": {
                      "description": "Platform-specific information.\n\nPlatform always has a `type` parameter, but there are also platform-specific parameters.\n",
                      "oneOf": [
                        {
                          "title": "Slack",
                          "description": "Slack parameters",
                          "type": "object",
                          "properties": {
                            "team_id": {
                              "type": "string",
                              "description": "the ID of the Slack Workspace",
                              "example": "T09J2CF0K"
                            },
                            "redirect_uri": {
                              "type": "string",
                              "description": "Used for [OAuth authentication](https://api.slack.com/docs/oauth).\n",
                              "example": "https://example.com"
                            },
                            "code": {
                              "type": "string",
                              "description": "Used for [OAuth authentication](https://api.slack.com/docs/oauth).\n",
                              "example": "ccdaa72ad"
                            },
                            "type": {
                              "type": "string",
                              "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                              "example": "facebook"
                            }
                          },
                          "required": [
                            "type",
                            "team_id",
                            "redirect_uri",
                            "code"
                          ]
                        },
                        {
                          "title": "Facebook",
                          "description": "Facebook channels can be set up in two ways, by creating your own Facebook App or by using Glia's Facebook App.\nDepending on how you want to set up the channel, different parameters are required.\n\nYou can change any of the Facebook-specific parameters via PATCH request. You are also allowed to switch\nbetween using Glia's Facebook App and custom Facebook App.\n",
                          "oneOf": [
                            {
                              "type": "object",
                              "title": "Using Glia's Facebook App",
                              "description": "When using Glia's Facebook App, a Facebook user has to install the Glia App. This is usually done in Glia\nHub's **Admin Console** but can also be accomplished by using Facebook Graph API. To create a new digital\nchannel, parameters in the table below are required. Fields marked as not accessible via API are never\nreturned by API calls (e.g. when getting a list of digital channels).\n",
                              "properties": {
                                "app_type": {
                                  "type": "string",
                                  "description": "'glia'",
                                  "example": "glia"
                                },
                                "page_id": {
                                  "type": "string",
                                  "description": "ID of the Facebook page that is associated with the channel. Note that when updating this, you may also\nhave to update `access_token`.\n",
                                  "example": "2354886464532432"
                                },
                                "access_token": {
                                  "type": "string",
                                  "description": "Facebook **user** access token that is used to set up the channel. This can be any short-term or\nlong-term access token that has not yet expired. The token has to have access to the Facebook page with\nID given in `page_id`.\n",
                                  "example": "112233"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                                  "example": "facebook"
                                }
                              },
                              "required": [
                                "type",
                                "app_type",
                                "page_id",
                                "access_token"
                              ]
                            },
                            {
                              "type": "object",
                              "title": "Using Custom Facebook App",
                              "description": "All of the parameters below are required to create a Facebook channel when using custom Facebook App.\n",
                              "properties": {
                                "app_type": {
                                  "type": "string",
                                  "description": "'custom'",
                                  "example": "custom"
                                },
                                "page_id": {
                                  "type": "string",
                                  "description": "ID of the Facebook page that is associated with the channel. Note that when updating this, you may also\nhave to update `access_token`.\n",
                                  "example": "112233"
                                },
                                "app_secret": {
                                  "type": "string",
                                  "description": "App secret of the Facebook App that is used to set up the channel.\n",
                                  "example": "112233"
                                },
                                "access_token": {
                                  "type": "string",
                                  "description": "Facebook **page** access token that is used to set up the channel. This needs to be a permanent access\ntoken that does not expire.\n",
                                  "example": "112233"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                                  "example": "facebook"
                                }
                              },
                              "required": [
                                "type",
                                "app_type",
                                "page_id",
                                "app_secret",
                                "access_token"
                              ]
                            }
                          ]
                        },
                        {
                          "title": "Apple Business Chat",
                          "description": "An Apple Business Chat channel integrates Glia with Apple Business Chat and allows visitors to use\n[iOS Messages](https://www.apple.com/ios/business-chat/) app to reach out to the business and be served on Glia\nplatform.\n\n### Routing Visitors with Group and Intent\n\nThe group and intent ID allow for fine-grained routing of visitors to a Glia channel/queue. When receiving\nmessage from a visitor who is not yet engaged, the channel/queue(s) where the visitor is routed to, is looked\nup as follows:\n\n* If there exists a channel whose group and intent ID both match the visitor's, that channel is used.\n\n* If there was no match in the previous step, a channel with intent and group ID set to `null` will be used.\n\n**Note:** You cannot create two channels which have the same `business_id`, `intent_id` and `group_id`.\n",
                          "type": "object",
                          "properties": {
                            "business_id": {
                              "type": "string",
                              "description": "Business ID from Apple Business Register. It is allowed to create multiple channels with the same business\nID but they all have to be associated with the same site.\n",
                              "example": "33a7e6df-bf38-4805-816b-520652e97d20"
                            },
                            "business_name": {
                              "type": "string",
                              "description": "A friendly identifier for `business_id`. The value of this field does not affect the operational\nfunctionality of a channel.\n",
                              "example": "Acme"
                            },
                            "intent_id": {
                              "type": "string",
                              "description": "Intent for routing messages.",
                              "example": "credit-card-account"
                            },
                            "group_id": {
                              "type": "string",
                              "description": "Group for routing messages.",
                              "example": "credit-card-department"
                            },
                            "type": {
                              "type": "string",
                              "description": "Specifies the messaging platform that the channel uses. Currently `facebook`, `slack`, and\n`apple_business_chat` are allowed.\n",
                              "example": "facebook"
                            }
                          },
                          "required": [
                            "type",
                            "business_id",
                            "business_name"
                          ]
                        }
                      ]
                    },
                    "created_by": {
                      "type": "string",
                      "description": "ID of the operator that created the channel. It is set automatically when creating a channel.\n",
                      "example": "6fd3ba96-5c1f-4404-84ad-ceaf54dd0dcc"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "ID of the operator that most recently updated the channel. It is set automatically when updating a channel.\n",
                      "example": "6fd3ba96-5c1f-4404-84ad-ceaf54dd0dcc"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Time when the channel was created. This is automatically set when creating a channel.\n",
                      "example": "2019-06-04T07:55:42.000Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "Time when the channel was last modified. This is automatically set when updating a channel.\n",
                      "example": "2019-06-04T07:55:42.000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Your bearer token has expired or you are not authorized to perform this request.\n"
          },
          "403": {
            "description": "Your bearer token is valid but you have no access to the requested resource.\n"
          },
          "404": {
            "description": "Could not find a digital channel with given ID.",
            "content": {
              "application/vnd.salemove.v1+json": {
                "example": {
                  "errors": {
                    "detail": "Page not found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request is invalid.\n\nThis occurs when some of the required fields are missing or in invalid format. The following error occurs\nwhen `queue_id` is in invalid format.\n",
            "content": {
              "application/vnd.salemove.v1+json": {
                "example": {
                  "error": "Invalid request",
                  "details": {
                    "queue_id": [
                      "is invalid"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error has occurred. Please try again later."
          }
        }
      },
      "delete": {
        "summary": "Delete digital channel",
        "tags": [
          "Digital channels"
        ],
        "description": "Deletes the digital channel with the provided ID.\n\nThe user deleting a channel must have at least super manager role on the given site.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The channel is successfully deleted."
          },
          "401": {
            "description": "Your bearer token has expired or you are not authorized to perform this request.\n"
          },
          "403": {
            "description": "Your bearer token is valid but you have no access to the requested resource.\n"
          },
          "404": {
            "description": "Could not find a digital channel with given ID.",
            "content": {
              "application/vnd.salemove.v1+json": {
                "example": {
                  "errors": {
                    "detail": "Page not found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request is invalid.\n\nThis occurs when some of the required fields are missing or in invalid format. The following error occurs\nwhen ID is in invalid format.\n",
            "content": {
              "application/vnd.salemove.v1+json": {
                "example": {
                  "error": "Invalid request",
                  "details": {
                    "id": [
                      "is invalid"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error has occurred. Please try again later."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
