{
  "openapi": "3.0.0",
  "info": {
    "title": "Engagements",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.salemove.com",
      "description": "Glia REST API base URL"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/engagements": {
      "get": {
        "summary": "List engagements",
        "tags": [
          "Engagement"
        ],
        "description": "Fetches a collection of engagements and related data. The results are paginated, and sorted by `start_date` in\ndescending order.\n\n* The response payload includes `next_page` link which can be used to get next batch of engagements. If the\n`next_page` is `null` then there are no more engagements.\n* This link must **not** be parsed as it is automatically generated and can change at any time.\n\n## Interpreting the output\n\n### Pagination\n\n* In case you want to paginate the engagements' list, you will see the `next_page` link in the first batch of\nengagements to use to fetch the next batch.\n* **Always** use the `next_page` link as is to fetch the next batch of engagements. **Never** try to parse the\npage numbers or other values in the `next_page` to construct the URL for next page or jump to an intermediate\npage. This will break the continuity of the data you want to fetch (records may be missed). Note that the format\nof the `next_page` URL is also subject to change at any point in time.\n* See also [Pagination](ref:pagination).\n\n### Checking for duplicates\n\n*  It may happen that few engagements are visible in two subsequent pages, thus becoming a duplicate in the whole\nset of engagements.\n* Although it does not happen often, we recommend to check for duplicates while fetching the list of engagements.\n\n#### Example\n\n* Set up few `GET /engagements` jobs setting `start_date` and `end_date` so that the periods do not overlap.\n* Each job has a script using the `next_page` to fetch another batch of engagements.\n* One possibility for setting up the script to use `next_page`, see Glia example on how to use JavaScript and\n`next_page`:\n    - [Example](https://github.com/salemove/examples/blob/master/rest_api/node/fetch_engagements.js).\n",
        "parameters": [
          {
            "name": "site_ids[]",
            "in": "query",
            "description": "A list of site IDs whose engagements are requested.\n\nThe requester must be authorized to access the provided sites.\n",
            "required": true,
            "allowReserved": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "example": [
              "def34343-s888-43ae-99e0-07a676e9a111",
              "def34343-s777-43ae-99e0-07a676e9a111"
            ]
          },
          {
            "name": "operator_ids[]",
            "in": "query",
            "description": "A list of operator IDs whose engagements are requested.\n\n* If the requester is a manager on the sites, the `operator_ids` filter can be either omitted or be an empty\narray to query engagements conducted by any operator.\n* If the requester is not a manager, they must specify their own ID in `operator_ids` filter.\n",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "ec317122-o888-4b43-996d-34a2ed3b76d8",
              "ec317122-o777-4b43-996d-34a2ed3b76d8"
            ]
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "The response will include engagements that happened from the `start_date` (included) onward.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2017-01-01T10:23:04Z"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "The response will include engagements that happened before the `end_date` (not included).\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2017-01-07T03:30:05Z"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "If pagination is used then this parameter specifies the number of engagements per page.\n",
            "required": false,
            "schema": {
              "type": "number"
            },
            "example": 30
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies whether the results should be sorted in ascending (`asc`) or descending (`desc`) order. By default,\nengagements are sorted by their start time in descending order.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "example": "asc"
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\nList of engagements retrieved. See also [Interpreting the output](ref:engagement#interpreting-the-output).\n",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "properties": {
                    "next_page": {
                      "type": "string",
                      "format": "URL"
                    },
                    "last_page": {
                      "type": "string",
                      "format": "URL"
                    },
                    "engagements": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Engagement ID.",
                            "example": "abc12121-e888-43ae-99e0-07a676e9a111"
                          },
                          "engagement_type": {
                            "type": "string",
                            "description": "Engagement type.",
                            "enum": [
                              "proactive",
                              "reactive"
                            ],
                            "example": "reactive"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the engagement request was accepted and with that the engagement started.\n",
                            "example": "2020-05-31T09:46:28Z"
                          },
                          "visitor_name": {
                            "type": "string",
                            "description": "Visitor's name.",
                            "example": "John Smith"
                          },
                          "visitor_browser": {
                            "type": "string",
                            "description": "Visitor's browser.",
                            "example": "Chrome"
                          },
                          "visitor_device_type": {
                            "type": "string",
                            "description": "Visitor's device type.",
                            "enum": [
                              "mobile",
                              "computer"
                            ],
                            "example": "mobile"
                          },
                          "visitor_id": {
                            "type": "string",
                            "description": "Visitor ID.",
                            "example": "c2c9106e-v888-47b2-8db3-089fb49dc9a5"
                          },
                          "duration": {
                            "type": "integer",
                            "description": "Engagement's duration in seconds. Is a sum of leg durations. Does not include queue wait times.\nNULL for ongoing engagement.\n",
                            "example": 683
                          },
                          "queue_wait_time": {
                            "type": "integer",
                            "description": "The time visitor spent in queue before the engagement, in seconds.\n\nThis value is present only for reactive engagements started via queueing. Does not include transfer queue wait\ntimes.\n",
                            "example": 42
                          },
                          "audio_recording_urls": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "'https://api.salemove.com/sub_engagements/1234567/conference_recordings/ar56789s-20df-4513-b8d4-b1aff1aa99c9.mp3'\n"
                            },
                            "description": "A list of audio recordings URLs."
                          },
                          "flagged": {
                            "type": "boolean",
                            "description": "Whether the engagement has been flagged or not.",
                            "example": false
                          },
                          "crm_forwarded": {
                            "type": "boolean",
                            "description": "Whether the CRM Export has already occurred or not.",
                            "example": true
                          },
                          "summary_forwarded": {
                            "type": "boolean",
                            "description": "Whether the summary has already been forwarded.",
                            "example": false
                          },
                          "platform": {
                            "type": "string",
                            "description": "The platform where the engagement was initiated.\n\n* `omnibrowse` - engagement was requested from Call Visualizer (either in Glia Hub or embedded in CRM),\n* `omnicore` - all other cases.\n",
                            "enum": [
                              "omnibrowse",
                              "omnicore"
                            ],
                            "example": "omnicore"
                          },
                          "visitor": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "URL of the visitor's information.",
                                "example": "'https://api.salemove.com/sites/def34343-s888-43ae-99e0-07a676e9a111/visitors/c2c9106e-v888-47b2-8db3-089fb49dc9a5'\n"
                              }
                            }
                          },
                          "chat_transcript": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "URL of the engagement's chat transcript.",
                                "example": "'https://api.salemove.com/engagements/abc12121-e888-43ae-99e0-07a676e9a111/chat_transcript'\n"
                              }
                            }
                          },
                          "operators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "URL of the participating operator.",
                                  "example": "https://api.salemove.com/operators/ec317122-o888-4b43-996d-34a2ed3b76d8"
                                }
                              }
                            }
                          },
                          "source": {
                            "type": "string",
                            "description": "One of the engagement request sources:\n* `button_embed` - (_reactive_) Engagement started via Contact Operator Button.\n* `callout` - (_reactive_) Engagement started via business rules. E.g. a business rule triggered a media\nselector which was then used to start the engagement.\n* `external_call` - (_reactive_) **Deprecated**\n* `facebook` - (_reactive_) Visitor sent message from Facebook Messenger.\n* `hotlink` - (_reactive_) Engagement started via hotlink.\n* `offline_phone` - (_reactive_) Visitor called a phone number.\n* `call_visualizer` - (_proactive_) Engagement started by entering visitor code in Call Visualizer (embedded or Glia Hub).\n* `glia_hub` - (_proactive_) Engagement started by selecting visitor in Visitor List of Glia Hub.\n* `outbound_call` - (_proactive_) Operator called visitor's phone.\n* `outbound_text` - (_proactive_) SMS message was sent to visitor's phone.\n* `sdk` - (_reactive_) Engagement started using the JS SDK, Android SDK or iOS SDK.\n* `slack` - (_reactive_) Engagement started via Slack.\n* `sms` - (_reactive_) Visitor sent SMS message.\n* `tab` - (_reactive_) Engagement started in the browser tab (via the bubble).\n* `visitor_integrator` - (_reactive_) Engagement started by REST API call.\n* `whatsapp` - (_reactive_) Visitor sent message from WhatsApp.\n* `<empty>` - (_proactive_) Engagement was requested by the operator.\n",
                            "enum": [
                              "button_embed",
                              "callout",
                              "external_call",
                              "facebook",
                              "hotlink",
                              "offline_phone",
                              "call_visualizer",
                              "glia_hub",
                              "outbound_call",
                              "outbound_text",
                              "sdk",
                              "slack",
                              "sms",
                              "tab",
                              "visitor_integrator",
                              "whatsapp",
                              "<empty>"
                            ],
                            "example": "tab"
                          },
                          "queues": {
                            "type": "array",
                            "description": "A list of queues that the visitor was enqueued in before starting the engagement. This value is present only\nfor reactive engagements started or transfer was made via queueing.\n",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "ID of the queue.",
                                  "example": "f58d4671-q888-4e87-96dc-1d41027bebc5"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Name of the queue.",
                                  "example": "Example queue"
                                }
                              }
                            }
                          },
                          "legs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Engagement leg ID.",
                                  "example": "abc12121-c995-45ec-8e0f-5bf4d5e16a2e"
                                },
                                "operator": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "ID of the operator.",
                                      "example": "ec317122-o888-4b43-996d-34a2ed3b76d8"
                                    }
                                  }
                                },
                                "guests": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "Guest ID.",
                                        "example": "ef74940e-1fd8-432c-964f-7f2d940fbd3a"
                                      },
                                      "type": {
                                        "type": "string",
                                        "description": "Guest type. Currently only `operator` type is supported.",
                                        "enum": [
                                          "operator"
                                        ]
                                      },
                                      "joined_at": {
                                        "description": "An ISO-8601 timestamp of when the guest joined the engagement leg.\n",
                                        "example": "2020-05-31T09:47:00Z"
                                      },
                                      "left_at": {
                                        "description": "An ISO-8601 timestamp of when the guest left the engagement leg.\n",
                                        "example": "2020-05-31T09:48:00Z"
                                      }
                                    }
                                  },
                                  "description": "A list of guests who participated in an engagement leg.\n"
                                },
                                "site": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "ID of the site where the engagement leg took place.",
                                      "example": "def34343-s888-43ae-99e0-07a676e9a111"
                                    }
                                  }
                                },
                                "accepted_at": {
                                  "type": "string",
                                  "description": "An ISO-8601 timestamp of when the transfer or engagement request was accepted and thus the engagement leg started.\n",
                                  "example": "2020-05-31T09:55:20Z"
                                },
                                "duration": {
                                  "type": "integer",
                                  "description": "Engagement leg's duration in seconds. Does not include queue wait times. NULL for ongoing engagement leg.\n"
                                },
                                "used_cobrowsing": {
                                  "type": "boolean",
                                  "description": "Whether CoBrowsing was used or not.",
                                  "example": true
                                },
                                "ended_at": {
                                  "type": "string",
                                  "description": "ISO-8601 timestamp when engagement/leg was ended or when engagement was transferred out.\n",
                                  "example": "2020-05-31T10:02:18Z"
                                },
                                "end_reason": {
                                  "type": "string",
                                  "description": "Engagement leg end reason. NULL for ongoing engagement.",
                                  "enum": [
                                    "visitor_left",
                                    "visitor_hung_up",
                                    "operator_left",
                                    "operator_hung_up",
                                    "error",
                                    "transfer"
                                  ],
                                  "example": "visitor_hung_up"
                                },
                                "requested_at": {
                                  "type": "string",
                                  "description": "An ISO-8601 timestamp of when the engagement or transfer was requested.\n",
                                  "example": "2020-05-31T09:55:13Z"
                                },
                                "request_type": {
                                  "type": "string",
                                  "description": "Request type that began the engagement leg.",
                                  "enum": [
                                    "proactive",
                                    "reactive",
                                    "transfer"
                                  ],
                                  "example": "transfer"
                                },
                                "offered_media_type": {
                                  "type": "string",
                                  "description": "Engagement offered or requested media type.",
                                  "enum": [
                                    "text",
                                    "audio",
                                    "phone",
                                    "video"
                                  ]
                                },
                                "accepted_media_type": {
                                  "type": "string",
                                  "description": "Engagement accepted media type.",
                                  "enum": [
                                    "text",
                                    "audio",
                                    "phone",
                                    "video"
                                  ]
                                },
                                "request_queues": {
                                  "type": "array",
                                  "description": "A list of queues that the visitor was enqueued in before starting the engagement. This value is present only\nfor reactive engagements started or transfer was made via queueing.\n",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "ID of the queue.",
                                        "example": "f58d4671-q888-4e87-96dc-1d41027bebc5"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Name of the queue.",
                                        "example": "Example queue"
                                      }
                                    }
                                  }
                                },
                                "queue_wait_time": {
                                  "type": "integer",
                                  "description": "Time spent in queue preceding this engagement leg (in seconds). NULL if queues were not used.\n",
                                  "example": 3
                                },
                                "request_source": {
                                  "type": "string",
                                  "description": "One of the engagement request sources:\n* `button_embed` - (_reactive_) Engagement started via Contact Operator Button.\n* `callout` - (_reactive_) Engagement started via business rules. E.g. a business rule triggered a media\nselector which was then used to start the engagement.\n* `external_call` - (_reactive_) **Deprecated**\n* `facebook` - (_reactive_) Visitor sent message from Facebook Messenger.\n* `hotlink` - (_reactive_) Engagement started via hotlink.\n* `offline_phone` - (_reactive_) Visitor called a phone number.\n* `call_visualizer` - (_proactive_) Engagement started by entering visitor code in Call Visualizer (embedded or Glia Hub).\n* `glia_hub` - (_proactive_) Engagement started by selecting visitor in Visitor List of Glia Hub.\n* `outbound_call` - (_proactive_) Operator called visitor's phone.\n* `outbound_text` - (_proactive_) SMS message was sent to visitor's phone.\n* `sdk` - (_reactive_) Engagement started using the JS SDK, Android SDK or iOS SDK.\n* `slack` - (_reactive_) Engagement started via Slack.\n* `sms` - (_reactive_) Visitor sent SMS message.\n* `tab` - (_reactive_) Engagement started in the browser tab (via the bubble).\n* `visitor_integrator` - (_reactive_) Engagement started by REST API call.\n* `whatsapp` - (_reactive_) Visitor sent message from WhatsApp.\n* `<empty>` - (_proactive_) Engagement was requested by the operator.\n",
                                  "enum": [
                                    "button_embed",
                                    "callout",
                                    "external_call",
                                    "facebook",
                                    "hotlink",
                                    "offline_phone",
                                    "call_visualizer",
                                    "glia_hub",
                                    "outbound_call",
                                    "outbound_text",
                                    "sdk",
                                    "slack",
                                    "sms",
                                    "tab",
                                    "visitor_integrator",
                                    "whatsapp",
                                    "<empty>"
                                  ],
                                  "example": "tab"
                                },
                                "highest_visitor_media_type": {
                                  "type": "string",
                                  "description": "Highest media type visitor used during this engagement leg.",
                                  "enum": [
                                    "text",
                                    "audio",
                                    "video"
                                  ]
                                },
                                "highest_operator_media_type": {
                                  "type": "string",
                                  "description": "Highest media type operator used during this engagement leg.",
                                  "enum": [
                                    "text",
                                    "audio",
                                    "video"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "operator",
                                "site",
                                "accepted_at",
                                "duration",
                                "used_cobrowsing",
                                "ended_at",
                                "end_reason",
                                "requested_at",
                                "request_type",
                                "offered_media_type",
                                "accepted_media_type",
                                "request_queues",
                                "queue_wait_time",
                                "request_source",
                                "highest_visitor_media_type",
                                "highest_operator_media_type"
                              ]
                            },
                            "description": "A list of engagement legs.\n\nEngagement starts with one leg. A leg is added each time the engagement is transferred.\n"
                          },
                          "cobrowsing_used": {
                            "type": "boolean",
                            "description": "Whether CoBrowsing was used or not.",
                            "example": true
                          },
                          "video_used": {
                            "type": "boolean",
                            "description": "Whether video was used or not.",
                            "example": true
                          },
                          "audio_used": {
                            "type": "boolean",
                            "description": "Whether audio was used or not.",
                            "example": true
                          }
                        },
                        "required": [
                          "id",
                          "engagement_type",
                          "created_at",
                          "visitor_name",
                          "visitor_browser",
                          "visitor_device_type",
                          "visitor_id",
                          "duration",
                          "audio_recording_urls",
                          "flagged",
                          "crm_forwarded",
                          "summary_forwarded",
                          "platform",
                          "visitor",
                          "chat_transcript",
                          "operators",
                          "legs",
                          "cobrowsing_used",
                          "video_used",
                          "audio_used"
                        ]
                      }
                    }
                  }
                },
                "example": {
                  "next_page": "https://api.salemove.com/engagements?per_page=30&cursor=45629133",
                  "engagements": [
                    {
                      "id": "abc12121-e888-43ae-99e0-07a676e9a111",
                      "engagement_type": "reactive",
                      "created_at": "2020-05-31T09:46:28.000Z",
                      "duration": 268,
                      "visitor_name": "John Smith",
                      "visitor_browser": "Chrome",
                      "visitor_device_type": "mobile",
                      "visitor_id": "c2c9106e-v888-47b2-8db3-089fb49dc9a5",
                      "cobrowsing_used": true,
                      "video_used": true,
                      "audio_used": true,
                      "flagged": false,
                      "queue_wait_time": 42,
                      "platform": "omnicore",
                      "audio_recording_urls": [
                        "https://api.salemove.com/sub_engagements/1234567/conference_recordings/ar56789s-20df-4513-b8d4-b1aff1aa99c9.mp3"
                      ],
                      "crm_forwarded": false,
                      "summary_forwarded": false,
                      "visitor": {
                        "href": "https://api.salemove.com/visitors/c2c9106e-v888-47b2-8db3-089fb49dc9a5"
                      },
                      "chat_transcript": {
                        "href": "https://api.salemove.com/engagements/abc12121-e888-43ae-99e0-07a676e9a111/chat_transcript"
                      },
                      "operators": [
                        {
                          "href": "https://api.salemove.com/operators/ec317122-o888-4b43-996d-34a2ed3b76d8"
                        },
                        {
                          "href": "https://api.salemove.com/operators/ec317122-o777-4b43-996d-34a2ed3b76d8"
                        }
                      ],
                      "queues": [
                        {
                          "id": "f58d4671-q888-4e87-96dc-1d41027bebc5",
                          "name": "Queue 1"
                        }
                      ],
                      "legs": [
                        {
                          "id": "cde12121-c207-45ec-8e0f-5bf4d5e16a2e",
                          "operator": {
                            "id": "ec317122-o777-4b43-996d-34a2ed3b76d8"
                          },
                          "guests": [
                            {
                              "id": "9beacfd3-fb36-4a40-827b-6c7c26d34022",
                              "type": "operator",
                              "joined_at": "2020-05-31T09:49:20.000Z",
                              "left_at": "2020-05-31T09:50:10.000Z"
                            }
                          ],
                          "site": {
                            "id": "def34343-s888-43ae-99e0-07a676e9a111"
                          },
                          "requested_at": "2020-05-31T09:48:50.000Z",
                          "accepted_at": "2020-05-31T09:48:57.000Z",
                          "request_type": "transfer",
                          "request_source": null,
                          "offered_media_type": "text",
                          "accepted_media_type": "text",
                          "request_queues": null,
                          "duration": 158,
                          "highest_visitor_media_type": "video",
                          "highest_operator_media_type": "audio",
                          "used_cobrowsing": true,
                          "ended_at": "2020-05-31T09:51:28.000Z",
                          "end_reason": "visitor_left"
                        },
                        {
                          "id": "bcd12121-c106-45ec-8e0f-5bf4d5e16a2e",
                          "operator": {
                            "id": "ec317122-o888-4b43-996d-34a2ed3b76d8"
                          },
                          "site": {
                            "id": "def34343-s888-43ae-99e0-07a676e9a111"
                          },
                          "requested_at": "2020-05-31T09:46:28.000Z",
                          "accepted_at": "2020-05-31T09:47:01.000Z",
                          "request_type": "reactive",
                          "request_source": "tab",
                          "offered_media_type": "video",
                          "accepted_media_type": "text",
                          "request_queues": [
                            {
                              "id": "f58d4671-q777-4e87-96dc-1d41027bebc5",
                              "name": "Queue 2"
                            }
                          ],
                          "duration": 109,
                          "highest_visitor_media_type": "text",
                          "highest_operator_media_type": "text",
                          "used_cobrowsing": false,
                          "ended_at": "2020-05-31T09:48:50.000Z",
                          "end_reason": "transfer"
                        }
                      ]
                    },
                    {
                      "id": "abc12121-e777-43ae-99e0-07a676e9a111",
                      "engagement_type": "reactive",
                      "created_at": "2019-07-07T13:47:21.150Z",
                      "duration": 65,
                      "visitor_name": "Mary Hawkins",
                      "visitor_browser": "Chrome",
                      "visitor_device_type": "mobile",
                      "visitor_id": "c2c9106e-v777-47b2-8db3-089fb49dc9a5",
                      "cobrowsing_used": false,
                      "video_used": false,
                      "audio_used": true,
                      "flagged": false,
                      "queue_wait_time": 10,
                      "platform": "omnicore",
                      "audio_recording_urls": [
                        "https://api.salemove.com/sub_engagements/1234567/conference_recordings/ar56789s-15df-4513-b8d4-b1aff1aa99c9.mp3"
                      ],
                      "crm_forwarded": false,
                      "summary_forwarded": false,
                      "visitor": {
                        "href": "https://api.salemove.com/visitors/c2c9106e-v777-47b2-8db3-089fb49dc9a5"
                      },
                      "chat_transcript": {
                        "href": "https://api.salemove.com/engagements/abc12121-e777-43ae-99e0-07a676e9a111/chat_transcript"
                      },
                      "operators": [
                        {
                          "href": "https://api.salemove.com/operators/ec317122-o666-4b43-996d-34a2ed3b76d8"
                        }
                      ],
                      "queues": [
                        {
                          "id": "f58d4671-q888-4e87-96dc-1d41027bebc5",
                          "name": "Queue 1"
                        }
                      ],
                      "legs": [
                        {
                          "id": "abc12121-c995-45ec-8e0f-5bf4d5e16a2e",
                          "operator": {
                            "id": "ec317122-o666-4b43-996d-34a2ed3b76d8"
                          },
                          "guests": [],
                          "site": {
                            "id": "def34343-s888-43ae-99e0-07a676e9a111"
                          },
                          "requested_at": "2019-07-07T13:47:21.150Z",
                          "accepted_at": "2019-07-07T13:47:35.000Z",
                          "request_type": "reactive",
                          "request_source": "tab",
                          "offered_media_type": "audio",
                          "accepted_media_type": "text",
                          "request_queues": [
                            {
                              "id": "f58d4671-q888-4e87-96dc-1d41027bebc5",
                              "name": "Queue 1"
                            }
                          ],
                          "duration": 55,
                          "highest_visitor_media_type": "audio",
                          "highest_operator_media_type": "audio",
                          "used_cobrowsing": false,
                          "ended_at": "2019-07-07T13:48:30.000Z",
                          "end_reason": "visitor_left"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/engagements/{engagement_id}": {
      "get": {
        "summary": "Fetch engagement",
        "tags": [
          "Engagement"
        ],
        "description": "Fetches a single engagement by `engagement_id`. Can be used to fetch both the ongoing and already ended engagements.\n\n* The user whose credentials are contained in the `Authorization` request header must be authorized to access the\nsite on which the engagement occurred.\n* Note that in case the engagement has multiple legs, they will be listed in the reverse chronological order:\n    - The latest leg is on top of the list.\n    - The first leg is at the bottom of the list.\n",
        "parameters": [
          {
            "name": "engagement_id",
            "in": "path",
            "description": "Engagement ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12121-e888-43ae-99e0-07a676e9a111"
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\nEngagement successfully retrieved.\n",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Engagement ID.",
                      "example": "abc12121-e888-43ae-99e0-07a676e9a111"
                    },
                    "engagement_type": {
                      "type": "string",
                      "description": "Engagement type.",
                      "enum": [
                        "proactive",
                        "reactive"
                      ],
                      "example": "reactive"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the engagement request was accepted and with that the engagement started.\n",
                      "example": "2020-05-31T09:46:28Z"
                    },
                    "visitor_name": {
                      "type": "string",
                      "description": "Visitor's name.",
                      "example": "John Smith"
                    },
                    "visitor_browser": {
                      "type": "string",
                      "description": "Visitor's browser.",
                      "example": "Chrome"
                    },
                    "visitor_device_type": {
                      "type": "string",
                      "description": "Visitor's device type.",
                      "enum": [
                        "mobile",
                        "computer"
                      ],
                      "example": "mobile"
                    },
                    "visitor_id": {
                      "type": "string",
                      "description": "Visitor ID.",
                      "example": "c2c9106e-v888-47b2-8db3-089fb49dc9a5"
                    },
                    "duration": {
                      "type": "integer",
                      "description": "Engagement's duration in seconds. Is a sum of leg durations. Does not include queue wait times.\nNULL for ongoing engagement.\n",
                      "example": 683
                    },
                    "queue_wait_time": {
                      "type": "integer",
                      "description": "The time visitor spent in queue before the engagement, in seconds.\n\nThis value is present only for reactive engagements started via queueing. Does not include transfer queue wait\ntimes.\n",
                      "example": 42
                    },
                    "audio_recording_urls": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "'https://api.salemove.com/sub_engagements/1234567/conference_recordings/ar56789s-20df-4513-b8d4-b1aff1aa99c9.mp3'\n"
                      },
                      "description": "A list of audio recordings URLs."
                    },
                    "flagged": {
                      "type": "boolean",
                      "description": "Whether the engagement has been flagged or not.",
                      "example": false
                    },
                    "crm_forwarded": {
                      "type": "boolean",
                      "description": "Whether the CRM Export has already occurred or not.",
                      "example": true
                    },
                    "summary_forwarded": {
                      "type": "boolean",
                      "description": "Whether the summary has already been forwarded.",
                      "example": false
                    },
                    "platform": {
                      "type": "string",
                      "description": "The platform where the engagement was initiated.\n\n* `omnibrowse` - engagement was requested from Call Visualizer (either in Glia Hub or embedded in CRM),\n* `omnicore` - all other cases.\n",
                      "enum": [
                        "omnibrowse",
                        "omnicore"
                      ],
                      "example": "omnicore"
                    },
                    "visitor": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "URL of the visitor's information.",
                          "example": "'https://api.salemove.com/sites/def34343-s888-43ae-99e0-07a676e9a111/visitors/c2c9106e-v888-47b2-8db3-089fb49dc9a5'\n"
                        }
                      }
                    },
                    "chat_transcript": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "URL of the engagement's chat transcript.",
                          "example": "'https://api.salemove.com/engagements/abc12121-e888-43ae-99e0-07a676e9a111/chat_transcript'\n"
                        }
                      }
                    },
                    "operators": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "href": {
                            "type": "string",
                            "description": "URL of the participating operator.",
                            "example": "https://api.salemove.com/operators/ec317122-o888-4b43-996d-34a2ed3b76d8"
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "One of the engagement request sources:\n* `button_embed` - (_reactive_) Engagement started via Contact Operator Button.\n* `callout` - (_reactive_) Engagement started via business rules. E.g. a business rule triggered a media\nselector which was then used to start the engagement.\n* `external_call` - (_reactive_) **Deprecated**\n* `facebook` - (_reactive_) Visitor sent message from Facebook Messenger.\n* `hotlink` - (_reactive_) Engagement started via hotlink.\n* `offline_phone` - (_reactive_) Visitor called a phone number.\n* `call_visualizer` - (_proactive_) Engagement started by entering visitor code in Call Visualizer (embedded or Glia Hub).\n* `glia_hub` - (_proactive_) Engagement started by selecting visitor in Visitor List of Glia Hub.\n* `outbound_call` - (_proactive_) Operator called visitor's phone.\n* `outbound_text` - (_proactive_) SMS message was sent to visitor's phone.\n* `sdk` - (_reactive_) Engagement started using the JS SDK, Android SDK or iOS SDK.\n* `slack` - (_reactive_) Engagement started via Slack.\n* `sms` - (_reactive_) Visitor sent SMS message.\n* `tab` - (_reactive_) Engagement started in the browser tab (via the bubble).\n* `visitor_integrator` - (_reactive_) Engagement started by REST API call.\n* `whatsapp` - (_reactive_) Visitor sent message from WhatsApp.\n* `<empty>` - (_proactive_) Engagement was requested by the operator.\n",
                      "enum": [
                        "button_embed",
                        "callout",
                        "external_call",
                        "facebook",
                        "hotlink",
                        "offline_phone",
                        "call_visualizer",
                        "glia_hub",
                        "outbound_call",
                        "outbound_text",
                        "sdk",
                        "slack",
                        "sms",
                        "tab",
                        "visitor_integrator",
                        "whatsapp",
                        "<empty>"
                      ],
                      "example": "tab"
                    },
                    "queues": {
                      "type": "array",
                      "description": "A list of queues that the visitor was enqueued in before starting the engagement. This value is present only\nfor reactive engagements started or transfer was made via queueing.\n",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID of the queue.",
                            "example": "f58d4671-q888-4e87-96dc-1d41027bebc5"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the queue.",
                            "example": "Example queue"
                          }
                        }
                      }
                    },
                    "legs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Engagement leg ID.",
                            "example": "abc12121-c995-45ec-8e0f-5bf4d5e16a2e"
                          },
                          "operator": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "ID of the operator.",
                                "example": "ec317122-o888-4b43-996d-34a2ed3b76d8"
                              }
                            }
                          },
                          "guests": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Guest ID.",
                                  "example": "ef74940e-1fd8-432c-964f-7f2d940fbd3a"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Guest type. Currently only `operator` type is supported.",
                                  "enum": [
                                    "operator"
                                  ]
                                },
                                "joined_at": {
                                  "description": "An ISO-8601 timestamp of when the guest joined the engagement leg.\n",
                                  "example": "2020-05-31T09:47:00Z"
                                },
                                "left_at": {
                                  "description": "An ISO-8601 timestamp of when the guest left the engagement leg.\n",
                                  "example": "2020-05-31T09:48:00Z"
                                }
                              }
                            },
                            "description": "A list of guests who participated in an engagement leg.\n"
                          },
                          "site": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "ID of the site where the engagement leg took place.",
                                "example": "def34343-s888-43ae-99e0-07a676e9a111"
                              }
                            }
                          },
                          "accepted_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the transfer or engagement request was accepted and thus the engagement leg started.\n",
                            "example": "2020-05-31T09:55:20Z"
                          },
                          "duration": {
                            "type": "integer",
                            "description": "Engagement leg's duration in seconds. Does not include queue wait times. NULL for ongoing engagement leg.\n"
                          },
                          "used_cobrowsing": {
                            "type": "boolean",
                            "description": "Whether CoBrowsing was used or not.",
                            "example": true
                          },
                          "ended_at": {
                            "type": "string",
                            "description": "ISO-8601 timestamp when engagement/leg was ended or when engagement was transferred out.\n",
                            "example": "2020-05-31T10:02:18Z"
                          },
                          "end_reason": {
                            "type": "string",
                            "description": "Engagement leg end reason. NULL for ongoing engagement.",
                            "enum": [
                              "visitor_left",
                              "visitor_hung_up",
                              "operator_left",
                              "operator_hung_up",
                              "error",
                              "transfer"
                            ],
                            "example": "visitor_hung_up"
                          },
                          "requested_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the engagement or transfer was requested.\n",
                            "example": "2020-05-31T09:55:13Z"
                          },
                          "request_type": {
                            "type": "string",
                            "description": "Request type that began the engagement leg.",
                            "enum": [
                              "proactive",
                              "reactive",
                              "transfer"
                            ],
                            "example": "transfer"
                          },
                          "offered_media_type": {
                            "type": "string",
                            "description": "Engagement offered or requested media type.",
                            "enum": [
                              "text",
                              "audio",
                              "phone",
                              "video"
                            ]
                          },
                          "accepted_media_type": {
                            "type": "string",
                            "description": "Engagement accepted media type.",
                            "enum": [
                              "text",
                              "audio",
                              "phone",
                              "video"
                            ]
                          },
                          "request_queues": {
                            "type": "array",
                            "description": "A list of queues that the visitor was enqueued in before starting the engagement. This value is present only\nfor reactive engagements started or transfer was made via queueing.\n",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "ID of the queue.",
                                  "example": "f58d4671-q888-4e87-96dc-1d41027bebc5"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Name of the queue.",
                                  "example": "Example queue"
                                }
                              }
                            }
                          },
                          "queue_wait_time": {
                            "type": "integer",
                            "description": "Time spent in queue preceding this engagement leg (in seconds). NULL if queues were not used.\n",
                            "example": 3
                          },
                          "request_source": {
                            "type": "string",
                            "description": "One of the engagement request sources:\n* `button_embed` - (_reactive_) Engagement started via Contact Operator Button.\n* `callout` - (_reactive_) Engagement started via business rules. E.g. a business rule triggered a media\nselector which was then used to start the engagement.\n* `external_call` - (_reactive_) **Deprecated**\n* `facebook` - (_reactive_) Visitor sent message from Facebook Messenger.\n* `hotlink` - (_reactive_) Engagement started via hotlink.\n* `offline_phone` - (_reactive_) Visitor called a phone number.\n* `call_visualizer` - (_proactive_) Engagement started by entering visitor code in Call Visualizer (embedded or Glia Hub).\n* `glia_hub` - (_proactive_) Engagement started by selecting visitor in Visitor List of Glia Hub.\n* `outbound_call` - (_proactive_) Operator called visitor's phone.\n* `outbound_text` - (_proactive_) SMS message was sent to visitor's phone.\n* `sdk` - (_reactive_) Engagement started using the JS SDK, Android SDK or iOS SDK.\n* `slack` - (_reactive_) Engagement started via Slack.\n* `sms` - (_reactive_) Visitor sent SMS message.\n* `tab` - (_reactive_) Engagement started in the browser tab (via the bubble).\n* `visitor_integrator` - (_reactive_) Engagement started by REST API call.\n* `whatsapp` - (_reactive_) Visitor sent message from WhatsApp.\n* `<empty>` - (_proactive_) Engagement was requested by the operator.\n",
                            "enum": [
                              "button_embed",
                              "callout",
                              "external_call",
                              "facebook",
                              "hotlink",
                              "offline_phone",
                              "call_visualizer",
                              "glia_hub",
                              "outbound_call",
                              "outbound_text",
                              "sdk",
                              "slack",
                              "sms",
                              "tab",
                              "visitor_integrator",
                              "whatsapp",
                              "<empty>"
                            ],
                            "example": "tab"
                          },
                          "highest_visitor_media_type": {
                            "type": "string",
                            "description": "Highest media type visitor used during this engagement leg.",
                            "enum": [
                              "text",
                              "audio",
                              "video"
                            ]
                          },
                          "highest_operator_media_type": {
                            "type": "string",
                            "description": "Highest media type operator used during this engagement leg.",
                            "enum": [
                              "text",
                              "audio",
                              "video"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "operator",
                          "site",
                          "accepted_at",
                          "duration",
                          "used_cobrowsing",
                          "ended_at",
                          "end_reason",
                          "requested_at",
                          "request_type",
                          "offered_media_type",
                          "accepted_media_type",
                          "request_queues",
                          "queue_wait_time",
                          "request_source",
                          "highest_visitor_media_type",
                          "highest_operator_media_type"
                        ]
                      },
                      "description": "A list of engagement legs.\n\nEngagement starts with one leg. A leg is added each time the engagement is transferred.\n"
                    },
                    "cobrowsing_used": {
                      "type": "boolean",
                      "description": "Whether CoBrowsing was used or not.",
                      "example": true
                    },
                    "video_used": {
                      "type": "boolean",
                      "description": "Whether video was used or not.",
                      "example": true
                    },
                    "audio_used": {
                      "type": "boolean",
                      "description": "Whether audio was used or not.",
                      "example": true
                    }
                  },
                  "required": [
                    "id",
                    "engagement_type",
                    "created_at",
                    "visitor_name",
                    "visitor_browser",
                    "visitor_device_type",
                    "visitor_id",
                    "duration",
                    "audio_recording_urls",
                    "flagged",
                    "crm_forwarded",
                    "summary_forwarded",
                    "platform",
                    "visitor",
                    "chat_transcript",
                    "operators",
                    "legs",
                    "cobrowsing_used",
                    "video_used",
                    "audio_used"
                  ]
                },
                "example": {
                  "id": "abc12121-e888-43ae-99e0-07a676e9a111",
                  "engagement_type": "reactive",
                  "created_at": "2020-05-31T09:46:28.000Z",
                  "duration": 268,
                  "visitor_name": "John Smith",
                  "visitor_browser": "Chrome",
                  "visitor_device_type": "mobile",
                  "visitor_id": "c2c9106e-v888-47b2-8db3-089fb49dc9a5",
                  "cobrowsing_used": true,
                  "video_used": true,
                  "audio_used": true,
                  "flagged": false,
                  "queue_wait_time": 42,
                  "platform": "omnicore",
                  "audio_recording_urls": [
                    "https://api.salemove.com/sub_engagements/1234567/conference_recordings/ar56789s-20df-4513-b8d4-b1aff1aa99c9.mp3"
                  ],
                  "crm_forwarded": false,
                  "summary_forwarded": false,
                  "visitor": {
                    "href": "https://api.salemove.com/visitors/c2c9106e-v888-47b2-8db3-089fb49dc9a5"
                  },
                  "chat_transcript": {
                    "href": "https://api.salemove.com/engagements/abc12121-e888-43ae-99e0-07a676e9a111/chat_transcript"
                  },
                  "operators": [
                    {
                      "href": "https://api.salemove.com/operators/ec317122-o888-4b43-996d-34a2ed3b76d8"
                    },
                    {
                      "href": "https://api.salemove.com/operators/ec317122-o777-4b43-996d-34a2ed3b76d8"
                    }
                  ],
                  "queues": [
                    {
                      "id": "f58d4671-q888-4e87-96dc-1d41027bebc5",
                      "name": "Queue 1"
                    }
                  ],
                  "legs": [
                    {
                      "id": "cde12121-c207-45ec-8e0f-5bf4d5e16a2e",
                      "operator": {
                        "id": "ec317122-o777-4b43-996d-34a2ed3b76d8"
                      },
                      "guests": [
                        {
                          "id": "9beacfd3-fb36-4a40-827b-6c7c26d34022",
                          "type": "operator",
                          "joined_at": "2020-05-31T09:49:20.000Z",
                          "left_at": "2020-05-31T09:50:10.000Z"
                        }
                      ],
                      "site": {
                        "id": "def34343-s888-43ae-99e0-07a676e9a111"
                      },
                      "requested_at": "2020-05-31T09:48:50.000Z",
                      "accepted_at": "2020-05-31T09:48:57.000Z",
                      "request_type": "transfer",
                      "request_source": null,
                      "offered_media_type": "text",
                      "accepted_media_type": "text",
                      "request_queues": null,
                      "duration": 158,
                      "highest_visitor_media_type": "video",
                      "highest_operator_media_type": "audio",
                      "used_cobrowsing": true,
                      "ended_at": "2020-05-31T09:51:28.000Z",
                      "end_reason": "visitor_left"
                    },
                    {
                      "id": "bcd12121-c106-45ec-8e0f-5bf4d5e16a2e",
                      "operator": {
                        "id": "ec317122-o888-4b43-996d-34a2ed3b76d8"
                      },
                      "site": {
                        "id": "def34343-s888-43ae-99e0-07a676e9a111"
                      },
                      "requested_at": "2020-05-31T09:46:28.000Z",
                      "accepted_at": "2020-05-31T09:47:01.000Z",
                      "request_type": "reactive",
                      "request_source": "tab",
                      "offered_media_type": "video",
                      "accepted_media_type": "text",
                      "request_queues": [
                        {
                          "id": "f58d4671-q777-4e87-96dc-1d41027bebc5",
                          "name": "Queue 2"
                        }
                      ],
                      "duration": 109,
                      "highest_visitor_media_type": "text",
                      "highest_operator_media_type": "text",
                      "used_cobrowsing": false,
                      "ended_at": "2020-05-31T09:48:50.000Z",
                      "end_reason": "transfer"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update engagement",
        "tags": [
          "Engagement"
        ],
        "description": "Updates the engagement using various actions.\nFor example, ends or transfers the engagement or reports a technical issue related to it.\n\n* End the engagement:\n    - Set the `action` to `end`.\n    - If the participant application suffered an error when starting the engagement, provide `error` as the\n`reason` for ending the engagement to distinguish such failures from engagement ending normally.\n    - Participating operator, visitor or engagement site(s) manager can end the engagement.\n* Transfer the engagement to a guest operator:\n    - Set the `action` to `transfer_to_guest`.\n    - Participating operator or engagement site(s) manager can transfer the engagement to guest operator.\n* Transfer the engagement to an external phone number:\n    - Set the `action` to `transfer_out`.\n    - Participating operator or engagement site(s) manager can transfer the engagement to a phone.\n* Report a technical issue with the engagement:\n    - Set the `action` to `mark_flagged`.\n    - Participating operator or engagement site(s) manager can report a technical issue.\n",
        "parameters": [
          {
            "name": "engagement_id",
            "in": "path",
            "description": "Engagement ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12121-e888-43ae-99e0-07a676e9a111"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "There are multiple schemas available depending on the action. Please\nchoose schema type to see available body parameters.\n",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "End the engagement",
                    "type": "object",
                    "properties": {
                      "action": {
                        "type": "string",
                        "description": "Must be `end`.",
                        "enum": [
                          "end"
                        ]
                      },
                      "reason": {
                        "type": "string",
                        "description": "Engagement's end reason.",
                        "enum": [
                          "error",
                          "visitor_left",
                          "operator_left",
                          "visitor_hung_up",
                          "operator_hung_up",
                          "transferred_out"
                        ]
                      }
                    },
                    "required": [
                      "action"
                    ]
                  },
                  {
                    "title": "Transfer to a guest",
                    "type": "object",
                    "properties": {
                      "action": {
                        "type": "string",
                        "description": "Must be `transfer_to_guest`.",
                        "enum": [
                          "transfer_to_guest"
                        ]
                      },
                      "guest_id": {
                        "type": "string",
                        "description": "ID of the guest operator that the engagement is transferred to.\n"
                      },
                      "stay_as_guest": {
                        "type": "boolean",
                        "description": "Whether the current host operator stays in the engagement as a guest after transfer is complete.\n"
                      }
                    },
                    "required": [
                      "action",
                      "guest_id",
                      "stay_as_guest"
                    ]
                  },
                  {
                    "title": "Transfer to an external phone number",
                    "type": "object",
                    "properties": {
                      "action": {
                        "type": "string",
                        "description": "Must be `transfer_out`.",
                        "enum": [
                          "transfer_out"
                        ]
                      },
                      "phone_number": {
                        "type": "string",
                        "description": "Phone number to transfer the engagement to. Must be in [E.164](doc:glossary#phone-number) format.\n",
                        "example": "+12057543010"
                      },
                      "phone_extension": {
                        "type": "string",
                        "description": "Phone number extension.\n",
                        "example": "1234"
                      }
                    },
                    "required": [
                      "action",
                      "phone_number"
                    ]
                  },
                  {
                    "title": "Report a technical issue with the engagement",
                    "type": "object",
                    "properties": {
                      "action": {
                        "type": "string",
                        "description": "Must be `mark_flagged`.",
                        "enum": [
                          "mark_flagged"
                        ]
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the issue.\n"
                      }
                    },
                    "required": [
                      "action",
                      "description"
                    ]
                  }
                ]
              },
              "examples": {
                "Ending the engagement": {
                  "value": {
                    "action": "end"
                  }
                },
                "Transferring to a guest": {
                  "value": {
                    "action": "transfer_to_guest",
                    "guest_id": "ec317122-o777-4b43-996d-34a2ed3b76d8",
                    "stay_as_guest": true
                  }
                },
                "Transferring to an external phone number": {
                  "value": {
                    "action": "transfer_out",
                    "phone_number": "+12057543010",
                    "phone_extension": "1234"
                  }
                },
                "Reporting a technical issue": {
                  "value": {
                    "action": "mark_flagged",
                    "description": "Video quality was low."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/engagements/{engagement_id}/export": {
      "post": {
        "summary": "Export engagement",
        "tags": [
          "Engagement"
        ],
        "description": "Exports the identified engagement. The format and destination of the export are specified by the configuration of\nthe site on which the engagement began.\n\nThe user whose credentials are contained in the `Authorization` request header must be authorized to access the\nsite on which the identified engagement occurred. If the engagement is transferred to other sites, and the\nrequesting user does not have access to all of them, then the export will contain only the data that belongs to\nthe site(s) for which the user is authorized.\n",
        "parameters": [
          {
            "name": "engagement_id",
            "in": "path",
            "description": "Engagement ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc12121-e888-43ae-99e0-07a676e9a111"
          }
        ],
        "responses": {
          "200": {
            "description": "OK\n\nEngagement successfully exported.\n",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the engagement was exported successfully or not.\n",
                      "enum": [
                        false,
                        true
                      ]
                    }
                  },
                  "required": [
                    "success"
                  ]
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "401": {
            "description": "Your bearer token has expired or you are not authorized to perform this request.\n"
          }
        }
      }
    },
    "/engagement_requests": {
      "post": {
        "summary": "Create engagement request",
        "tags": [
          "Engagement request"
        ],
        "description": "Creates an engagement request and notifies the target operator or visitor. Note that the request body needs\ndifferent properties based on the requester.\n\n## Authorization\n\nEngagement requests can be created by\n\n* operators using the Glia platform;\n* visitors with a Glia session (e.g present on a Glia enabled site using a web browser);\n* visitors from external systems - Glia integrators.\n\n### Operators using the glia platform\n\nOperators using the Glia system are provided an API token upon the user's creation. When creating engagement\nrequest, the `Authorization` header must contain the user's bearer access token.\n\n```bash\n  curl --request POST \\\n    --header \"Authorization: Bearer $access_token\" \\\n    --header \"Accept: application/vnd.salemove.v1+json\" \\\n    --header \"Content-Type: application/json\" \\\n    --data-binary '{\n      \"visitor_id\": \"c2c9106e-v888-47b2-8db3-089fb49dc9a5\",\n      \"site_id\": \"def34343-s888-43ae-99e0-07a676e9a111\",\n      \"media\": \"text\"\n    }' \\\n  \"https://api.salemove.com/engagement_requests\"\n```\n\n### Visitors with a Glia session\n\nVisitors connected to a Glia enabled site using a web browser are provided session IDs to uniquely identify the\nvisitor and the site.\n\nCurrently, there is no way to register visitor sessions as an integrator using the REST API, instead use the\nvisitors from the [external system](#visitors-from-external-systems) method.\n\nWhen creating an engagement request, the `Authorization` header must contain the visitor's session ID and the\n`X-Salemove-Visit-Session-Id` headers must contain the visitor's visit session ID. These headers are set\nautomatically when creating engagement requests using the [Visitor JS SDK](https://sdk-docs.glia.com/visitor-js-api/current).\n\n```bash\n  curl --request POST \\\n    --header \"Authorization: Bearer $visitor_access_token\" \\\n    --header \"Accept: application/vnd.salemove.v1+json\" \\\n    --header \"Content-Type: application/json\" \\\n    --data-binary '{\n      \"operator_id\": \"ec317122-o888-4b43-996d-34a2ed3b76d8\",\n      \"media\": \"text\",\n      \"site_id\": \"def34343-s888-43ae-99e0-07a676e9a111\",\n      \"source\": \"sdk\"\n    }' \\\n  \"https://api.salemove.com/engagement_requests\"\n```\n\n### Visitors from external systems\n\nIntegrators of the Glia system might want to engage operators with visitors outside of the context of a web\nbrowser or without using the [Visitor JS SDK](https://sdk-docs.glia.com/visitor-js-api/current).\nIn this case the integrator can create a visitor using [REST API](#ref:visitor#post_visitors).\n\nCreating an engagement request on behalf of the visitor requires:\n\n* `visitor_integrator` as a source value,\n* bearer token gotten from the response when creating the visitor\n([`POST https://api.salemove.com/visitors/{visitor_id}/token`](#ref:visitor#post_visitors), `access_token` keyword).\n\n```bash\n  curl --request POST \\\n    --header \"Authorization: Bearer $visitor_access_token\" \\\n    --header \"Accept: application/vnd.salemove.v1+json\" \\\n    --header \"Content-Type: application/json\" \\\n    --data-binary '{\n      \"operator_id\": \"c62b4a91-a0d7-4137-80e3-c281393b71c2\",\n      \"media\": \"text\",\n      \"site_id\": \"51138845-3c46-4c21-8bd8-1cf45957f62e\",\n      \"source\": \"visitor_integrator\"\n    }' \\\n  \"https://api.salemove.com/engagement_requests\"\n```\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "Operator creates request",
                    "type": "object",
                    "properties": {
                      "visitor_id": {
                        "type": "string",
                        "description": "The ID of the visitor who the request will be sent to, in case the request is made by the operator.\n"
                      },
                      "operator_id": {
                        "type": "string",
                        "description": "The ID of the operator who the request will be sent to, in case the request is made by the visitor or visitor\nintegrator.\n"
                      },
                      "site_id": {
                        "type": "string",
                        "description": "The site ID of the visitor who the request will be sent to.\n"
                      },
                      "media": {
                        "type": "string",
                        "description": "The initial engagement media type.\n\nCan only be `text` or `phone` if the request is made by a visitor integrator.\n",
                        "enum": [
                          "text",
                          "phone",
                          "audio",
                          "video"
                        ]
                      },
                      "media_options": {
                        "type": "object",
                        "description": "Any additional parameters for the desired media type.\n",
                        "properties": {
                          "phone_number": {
                            "type": "string",
                            "description": "Phone number of the user. The supported format is [E.164](doc:glossary#phone-number).\nMust be set if `audio_source` is `phone`.\n"
                          },
                          "phone_extension": {
                            "type": "string",
                            "description": "The phone number extension of the user.\n\nA valid extension contains 1-7 digits and any number of `,` characters.\n\nThere is an initial two second delay time before the first extension character is processed. Each `,` character\nin the extension adds a two second wait time before the next character is processed. Maximum length is 25\ncharacters.\n\nValid only if `phone` is also set or was set beforehand.\n"
                          },
                          "one_way": {
                            "type": "boolean",
                            "description": "* When set to `true`, the video will start from the operator to the visitor only.\n* When set to `false`, the video starts both ways - from the operator to the visitor and from the visitor\nto the operator.\n",
                            "default": true
                          }
                        }
                      },
                      "source": {
                        "type": "string",
                        "description": "One of the engagement request sources:\n* `button_embed` - (_reactive_) Engagement started via Contact Operator Button.\n* `callout` - (_reactive_) Engagement started via business rules. E.g. a business rule triggered a media\nselector which was then used to start the engagement.\n* `external_call` - (_reactive_) **Deprecated**\n* `facebook` - (_reactive_) Visitor sent message from Facebook Messenger.\n* `hotlink` - (_reactive_) Engagement started via hotlink.\n* `offline_phone` - (_reactive_) Visitor called a phone number.\n* `call_visualizer` - (_proactive_) Engagement started by entering visitor code in Call Visualizer (embedded or Glia Hub).\n* `glia_hub` - (_proactive_) Engagement started by selecting visitor in Visitor List of Glia Hub.\n* `outbound_call` - (_proactive_) Operator called visitor's phone.\n* `outbound_text` - (_proactive_) SMS message was sent to visitor's phone.\n* `sdk` - (_reactive_) Engagement started using the JS SDK, Android SDK or iOS SDK.\n* `slack` - (_reactive_) Engagement started via Slack.\n* `sms` - (_reactive_) Visitor sent SMS message.\n* `tab` - (_reactive_) Engagement started in the browser tab (via the bubble).\n* `visitor_integrator` - (_reactive_) Engagement started by REST API call.\n* `whatsapp` - (_reactive_) Visitor sent message from WhatsApp.\n* `<empty>` - (_proactive_) Engagement was requested by the operator.\n",
                        "enum": [
                          "button_embed",
                          "callout",
                          "external_call",
                          "facebook",
                          "hotlink",
                          "offline_phone",
                          "call_visualizer",
                          "glia_hub",
                          "outbound_call",
                          "outbound_text",
                          "sdk",
                          "slack",
                          "sms",
                          "tab",
                          "visitor_integrator",
                          "whatsapp",
                          "<empty>"
                        ],
                        "example": "tab"
                      },
                      "webhooks": {
                        "type": "array",
                        "description": "A list of webhooks that will subscribe to engagement request or engagement events.\n\nOnly events regarding this engagement request and the engagement that is created by accepting this engagement\nrequest will be sent. Webhooks can have overlapping sets of events. A maximum of 10 webhooks are allowed.\n\nSee also [Webhooks](ref:webhooks).\n",
                        "items": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "Webhook URL, see [HTTP webhooks](ref:webhooks#registering)."
                            },
                            "method": {
                              "type": "string",
                              "description": "One of the HTTP methods, see [HTTP webhooks](ref:webhooks#registering).\n"
                            },
                            "events": {
                              "type": "array",
                              "description": "Array of events, see see [HTTP webhooks](ref:webhooks#registering).\n",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "visitor_id",
                      "site_id",
                      "media"
                    ]
                  },
                  {
                    "title": "Visitor creates request",
                    "type": "object",
                    "properties": {
                      "visitor_id": {
                        "type": "string",
                        "description": "The ID of the visitor who the request will be sent to, in case the request is made by the operator.\n"
                      },
                      "operator_id": {
                        "type": "string",
                        "description": "The ID of the operator who the request will be sent to, in case the request is made by the visitor or visitor\nintegrator.\n"
                      },
                      "site_id": {
                        "type": "string",
                        "description": "The site ID of the visitor who the request will be sent to.\n"
                      },
                      "media": {
                        "type": "string",
                        "description": "The initial engagement media type.\n\nCan only be `text` or `phone` if the request is made by a visitor integrator.\n",
                        "enum": [
                          "text",
                          "phone",
                          "audio",
                          "video"
                        ]
                      },
                      "media_options": {
                        "type": "object",
                        "description": "Any additional parameters for the desired media type.\n",
                        "properties": {
                          "phone_number": {
                            "type": "string",
                            "description": "Phone number of the user. The supported format is [E.164](doc:glossary#phone-number).\nMust be set if `audio_source` is `phone`.\n"
                          },
                          "phone_extension": {
                            "type": "string",
                            "description": "The phone number extension of the user.\n\nA valid extension contains 1-7 digits and any number of `,` characters.\n\nThere is an initial two second delay time before the first extension character is processed. Each `,` character\nin the extension adds a two second wait time before the next character is processed. Maximum length is 25\ncharacters.\n\nValid only if `phone` is also set or was set beforehand.\n"
                          },
                          "one_way": {
                            "type": "boolean",
                            "description": "* When set to `true`, the video will start from the operator to the visitor only.\n* When set to `false`, the video starts both ways - from the operator to the visitor and from the visitor\nto the operator.\n",
                            "default": true
                          }
                        }
                      },
                      "source": {
                        "type": "string",
                        "description": "One of the engagement request sources:\n* `button_embed` - (_reactive_) Engagement started via Contact Operator Button.\n* `callout` - (_reactive_) Engagement started via business rules. E.g. a business rule triggered a media\nselector which was then used to start the engagement.\n* `external_call` - (_reactive_) **Deprecated**\n* `facebook` - (_reactive_) Visitor sent message from Facebook Messenger.\n* `hotlink` - (_reactive_) Engagement started via hotlink.\n* `offline_phone` - (_reactive_) Visitor called a phone number.\n* `call_visualizer` - (_proactive_) Engagement started by entering visitor code in Call Visualizer (embedded or Glia Hub).\n* `glia_hub` - (_proactive_) Engagement started by selecting visitor in Visitor List of Glia Hub.\n* `outbound_call` - (_proactive_) Operator called visitor's phone.\n* `outbound_text` - (_proactive_) SMS message was sent to visitor's phone.\n* `sdk` - (_reactive_) Engagement started using the JS SDK, Android SDK or iOS SDK.\n* `slack` - (_reactive_) Engagement started via Slack.\n* `sms` - (_reactive_) Visitor sent SMS message.\n* `tab` - (_reactive_) Engagement started in the browser tab (via the bubble).\n* `visitor_integrator` - (_reactive_) Engagement started by REST API call.\n* `whatsapp` - (_reactive_) Visitor sent message from WhatsApp.\n* `<empty>` - (_proactive_) Engagement was requested by the operator.\n",
                        "enum": [
                          "button_embed",
                          "callout",
                          "external_call",
                          "facebook",
                          "hotlink",
                          "offline_phone",
                          "call_visualizer",
                          "glia_hub",
                          "outbound_call",
                          "outbound_text",
                          "sdk",
                          "slack",
                          "sms",
                          "tab",
                          "visitor_integrator",
                          "whatsapp",
                          "<empty>"
                        ],
                        "example": "tab"
                      },
                      "webhooks": {
                        "type": "array",
                        "description": "A list of webhooks that will subscribe to engagement request or engagement events.\n\nOnly events regarding this engagement request and the engagement that is created by accepting this engagement\nrequest will be sent. Webhooks can have overlapping sets of events. A maximum of 10 webhooks are allowed.\n\nSee also [Webhooks](ref:webhooks).\n",
                        "items": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "Webhook URL, see [HTTP webhooks](ref:webhooks#registering)."
                            },
                            "method": {
                              "type": "string",
                              "description": "One of the HTTP methods, see [HTTP webhooks](ref:webhooks#registering).\n"
                            },
                            "events": {
                              "type": "array",
                              "description": "Array of events, see see [HTTP webhooks](ref:webhooks#registering).\n",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "visitor_context": {
                        "type": "object",
                        "description": "When the visitor is not capable of CoBrowsing, e.g. they called in via phone, the CoBrowsing area can be re-purposed to display extra information to the operator.\nFor example, when a phone number is associated with a specific promotion, a PDF file describing the promotion can be displayed.\nThe visitor context can either contain an URL to a web page or an illustration file.\nThe illustration file can be of any type that can be embedded in an iframe in the operator's web browser.\n",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Either a (web) page or an illustration file. When providing an illustration file, it is also recommended to include `content_type`.\n",
                            "enum": [
                              "page",
                              "illustration"
                            ]
                          },
                          "url": {
                            "type": "string",
                            "description": "URL pointing to the context, must be secure (HTTPS).\n",
                            "example": "https://example.com/context.pdf"
                          },
                          "content_type": {
                            "type": "string",
                            "description": "MIME type of the illustration file. For example: `application/pdf`.\n",
                            "example": "application/pdf"
                          },
                          "name": {
                            "type": "string",
                            "description": "Context name. Displayed to the operator when provided.\n"
                          }
                        },
                        "required": [
                          "type",
                          "url"
                        ]
                      }
                    },
                    "required": [
                      "operator_id",
                      "site_id",
                      "media"
                    ]
                  }
                ]
              },
              "examples": {
                "operator": {
                  "summary": "Operator creates the engagement request",
                  "value": {
                    "visitor_id": "c2c9106e-v888-47b2-8db3-089fb49dc9a5",
                    "site_id": "def34343-s888-43ae-99e0-07a676e9a111",
                    "media": "audio"
                  }
                },
                "visitor": {
                  "summary": "Visitor creates the engagement request",
                  "value": {
                    "operator_id": "ec317122-o888-4b43-996d-34a2ed3b76d8",
                    "site_id": "def34343-s888-43ae-99e0-07a676e9a111",
                    "media": "text"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The engagement request successfully created.\n\nNote the `timeout` field that shows in how many seconds (counting from the moment that Glia servers\nreceived the request) the engagement request will automatically time out unless the engagement request is\naccepted, acknowledged, canceled, or declined.\n",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the engagement request to be accepted, declined, acknowledged, or canceled.\n"
                    },
                    "timeout": {
                      "type": "string",
                      "description": "ID of the engagement request to be accepted, declined, acknowledged, or canceled.\n"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "The site ID of the visitor who the request will be sent to.\n"
                    },
                    "platform": {
                      "type": "string",
                      "description": "Is the request created in Glia Hub or in Call Visualizer.\n\n* `omnicore` - Glia Hub\n* `omnibrowse` - Call Visualizer\n",
                      "enum": [
                        "omnicore",
                        "omnibrowse"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "timeout",
                    "site_id",
                    "platform"
                  ]
                },
                "example": {
                  "id": "defb7236-r888-4fe8-b26c-fc462e286907",
                  "timeout": 30,
                  "site_id": "def34343-s888-43ae-99e0-07a676e9a111",
                  "platform": "omnicore"
                }
              }
            }
          }
        }
      }
    },
    "/engagement_requests/{engagement_request_id}": {
      "patch": {
        "summary": "Answer engagement request",
        "tags": [
          "Engagement request"
        ],
[...]
