{
  "openapi": "3.0.0",
  "info": {
    "title": "Exports",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.salemove.com",
      "description": "Glia REST API base URL"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/sites/{site_id}/crm/exports": {
      "get": {
        "summary": "List exports",
        "tags": [
          "Exports"
        ],
        "description": "Fetches the list of exports for given site.\n\nThe user whose bearer access token is used to make the request must have at least manager role on the site.\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "site_id",
            "description": "ID of the site.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specifies how the exports are ordered. Possible values are `asc` or `desc`. Default value is `asc`.\n",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "example": "asc"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specifies which page is requested. Default value is `1`.\n",
            "schema": {
              "type": "number"
            },
            "example": 2
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Specifies the number of contacts per page. Minimum value is `1`. Maximum value is `100`. Default value is `30`.\n",
            "schema": {
              "type": "number"
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exports": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID of the export.",
                            "example": "efae435b-2ec5-403f-a091-46ecf1b8894b"
                          },
                          "folder_id": {
                            "type": "string",
                            "description": "ID of the folder.",
                            "example": "2e56b224-6708-4755-b6c9-35f9889e42dd"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the resource.",
                            "example": "Resource name"
                          },
                          "site_id": {
                            "type": "string",
                            "description": "A site ID (in UUID v4 format) associated with the resource.",
                            "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of export, relates closely with the event that triggers the export.\n",
                            "enum": [
                              "engagement_start",
                              "engagement_transfer",
                              "engagement",
                              "inbox_message",
                              "operator_message",
                              "voicemail"
                            ],
                            "example": "engagement_start"
                          },
                          "content_type": {
                            "type": "string",
                            "description": "This specifies the `content-type` of the export definition.",
                            "enum": [
                              "text/html; charset=UTF-8",
                              "application/xml",
                              "application/json"
                            ],
                            "example": "application/json"
                          },
                          "template": {
                            "type": "string",
                            "description": "Look at the template definition for the description of this parameter.",
                            "example": "<?xml version=\\\"1.0\\\"\nencoding=\\\"UTF-8\\\"?>\\n<export><visitor_name>{visitor_name}</visitor_name>\\n</export>\n"
                          },
                          "email_subject": {
                            "type": "string",
                            "description": "The subject for exports sent by email. A subject can contain field tags to dynamically include export-specific data.\n",
                            "example": "Glia engagement with {visitor_name}"
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Specifies whether the export is active.",
                            "example": true,
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "send_to_operator": {
                            "type": "boolean",
                            "description": "Specifies whether the export is sent to corresponding operator(s).\n\n* For export type `engagement`, the export is sent to all operators who participated in the engagement.\n* For export type `inbox_message`, the export is sent to all operators associated with the site.\n",
                            "example": true,
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "trigger": {
                            "type": "string",
                            "description": "Specifies whether the export template should be triggered automatically, or only when the operator explicitly\nopts in.\n",
                            "enum": [
                              "system",
                              "on_demand"
                            ],
                            "example": "system"
                          },
                          "crm_recipient": {
                            "type": "object",
                            "description": "A JSON object describing how the Leads are sent via HTTP POST.",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "description": "This specifies whether the export should be sent by HTTP POST.",
                                "enum": [
                                  true,
                                  false
                                ]
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL to which the export should be sent.",
                                "example": "https://company.com/crm"
                              },
                              "headers": {
                                "type": "object",
                                "description": "A set of headers to be sent along with the HTTP POST request. Typically, headers are used for authorization.\n",
                                "additionalProperties": {
                                  "type": "string"
                                },
                                "example": {
                                  "Accept": "application/xml",
                                  "Authorization": "CRM_Auth_Token"
                                }
                              }
                            }
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL to which the export should be sent.",
                            "example": "https://company.com/crm"
                          },
                          "headers": {
                            "type": "object",
                            "description": "A set of headers to be sent along with the HTTP POST request. Typically, headers are used for authorization.\n",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "example": {
                              "Accept": "application/xml",
                              "Authorization": "CRM_Auth_Token"
                            }
                          },
                          "email_recipient": {
                            "type": "object",
                            "description": "A JSON object describing how Leads are sent via email.",
                            "properties": {
                              "enable": {
                                "type": "boolean",
                                "description": "This specifies whether the export should be sent by email.",
                                "enum": [
                                  true,
                                  false
                                ]
                              },
                              "emails": {
                                "type": "array",
                                "description": "An array of email addresses to which the export should be sent.\n",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "href": {
                            "type": "string",
                            "description": "Location of the export",
                            "example": "https://api.salemove.com/sites/2e56b224-6708-4755-b6c9-35f9889e42dd/crm/exports/5681e1d2-f7ac-4473-9809-2965bfd8ef02"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was created.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who created the resource.",
                            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was updated.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "updated_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who updated the resource.",
                            "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                          }
                        }
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "description": "URL to the next page. The value is null when the current page is the last page.\n",
                      "example": "https://api.salemove.com/sites/2e56b224-6708-4755-b6c9-35f9889e42dd/crm/exports?page=3&per_page=3"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create export",
        "tags": [
          "Exports"
        ],
        "description": "Creates a new export definition.\n\nA site can have any number of export configurations, known as definitions. A definition is a set of attributes\nthat describe when and how either engagements or offline messages are exported. When Glia generates an engagement\nor offline messsage, it is exported to all recipients included in the definition that have access to the site.\nExport definitions can be organized into folders, see [Export folders](#ref:export-folders).\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "site_id",
            "description": "ID of the site.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the resource.",
                    "example": "Resource name"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of export, relates closely with the event that triggers the export.\n",
                    "enum": [
                      "engagement_start",
                      "engagement_transfer",
                      "engagement",
                      "inbox_message",
                      "operator_message",
                      "voicemail"
                    ],
                    "example": "engagement_start"
                  },
                  "content_type": {
                    "type": "string",
                    "description": "This specifies the `content-type` of the export definition.",
                    "enum": [
                      "text/html; charset=UTF-8",
                      "application/xml",
                      "application/json"
                    ],
                    "example": "application/json"
                  },
                  "email_recipients": {
                    "type": "object",
                    "description": "A JSON object describing how Leads are sent via email.",
                    "properties": {
                      "enable": {
                        "type": "boolean",
                        "description": "This specifies whether the export should be sent by email.",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "emails": {
                        "type": "array",
                        "description": "An array of email addresses to which the export should be sent.\n",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "crm_recipients": {
                    "type": "object",
                    "description": "A JSON object describing how the Leads are sent via HTTP POST.",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "This specifies whether the export should be sent by HTTP POST.",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL to which the export should be sent.",
                        "example": "https://company.com/crm"
                      },
                      "headers": {
                        "type": "object",
                        "description": "A set of headers to be sent along with the HTTP POST request. Typically, headers are used for authorization.\n",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "example": {
                          "Accept": "application/xml",
                          "Authorization": "CRM_Auth_Token"
                        }
                      }
                    }
                  },
                  "template": {
                    "type": "string",
                    "description": "Look at the template definition for the description of this parameter.",
                    "example": "<?xml version=\\\"1.0\\\"\nencoding=\\\"UTF-8\\\"?>\\n<export><visitor_name>{visitor_name}</visitor_name>\\n</export>\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the export.",
                      "example": "efae435b-2ec5-403f-a091-46ecf1b8894b"
                    },
                    "folder_id": {
                      "type": "string",
                      "description": "ID of the folder.",
                      "example": "2e56b224-6708-4755-b6c9-35f9889e42dd"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the resource.",
                      "example": "Resource name"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "A site ID (in UUID v4 format) associated with the resource.",
                      "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of export, relates closely with the event that triggers the export.\n",
                      "enum": [
                        "engagement_start",
                        "engagement_transfer",
                        "engagement",
                        "inbox_message",
                        "operator_message",
                        "voicemail"
                      ],
                      "example": "engagement_start"
                    },
                    "content_type": {
                      "type": "string",
                      "description": "This specifies the `content-type` of the export definition.",
                      "enum": [
                        "text/html; charset=UTF-8",
                        "application/xml",
                        "application/json"
                      ],
                      "example": "application/json"
                    },
                    "template": {
                      "type": "string",
                      "description": "Look at the template definition for the description of this parameter.",
                      "example": "<?xml version=\\\"1.0\\\"\nencoding=\\\"UTF-8\\\"?>\\n<export><visitor_name>{visitor_name}</visitor_name>\\n</export>\n"
                    },
                    "email_subject": {
                      "type": "string",
                      "description": "The subject for exports sent by email. A subject can contain field tags to dynamically include export-specific data.\n",
                      "example": "Glia engagement with {visitor_name}"
                    },
                    "enabled": {
                      "type": "boolean",
                      "description": "Specifies whether the export is active.",
                      "example": true,
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "send_to_operator": {
                      "type": "boolean",
                      "description": "Specifies whether the export is sent to corresponding operator(s).\n\n* For export type `engagement`, the export is sent to all operators who participated in the engagement.\n* For export type `inbox_message`, the export is sent to all operators associated with the site.\n",
                      "example": true,
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "trigger": {
                      "type": "string",
                      "description": "Specifies whether the export template should be triggered automatically, or only when the operator explicitly\nopts in.\n",
                      "enum": [
                        "system",
                        "on_demand"
                      ],
                      "example": "system"
                    },
                    "crm_recipient": {
                      "type": "object",
                      "description": "A JSON object describing how the Leads are sent via HTTP POST.",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "This specifies whether the export should be sent by HTTP POST.",
                          "enum": [
                            true,
                            false
                          ]
                        },
                        "url": {
                          "type": "string",
                          "description": "The URL to which the export should be sent.",
                          "example": "https://company.com/crm"
                        },
                        "headers": {
                          "type": "object",
                          "description": "A set of headers to be sent along with the HTTP POST request. Typically, headers are used for authorization.\n",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "example": {
                            "Accept": "application/xml",
                            "Authorization": "CRM_Auth_Token"
                          }
                        }
                      }
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL to which the export should be sent.",
                      "example": "https://company.com/crm"
                    },
                    "headers": {
                      "type": "object",
                      "description": "A set of headers to be sent along with the HTTP POST request. Typically, headers are used for authorization.\n",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "example": {
                        "Accept": "application/xml",
                        "Authorization": "CRM_Auth_Token"
                      }
                    },
                    "email_recipient": {
                      "type": "object",
                      "description": "A JSON object describing how Leads are sent via email.",
                      "properties": {
                        "enable": {
                          "type": "boolean",
                          "description": "This specifies whether the export should be sent by email.",
                          "enum": [
                            true,
                            false
                          ]
                        },
                        "emails": {
                          "type": "array",
                          "description": "An array of email addresses to which the export should be sent.\n",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "href": {
                      "type": "string",
                      "description": "Location of the export",
                      "example": "https://api.salemove.com/sites/2e56b224-6708-4755-b6c9-35f9889e42dd/crm/exports/5681e1d2-f7ac-4473-9809-2965bfd8ef02"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sites/{site_id}/crm/exports/{export_id}": {
      "get": {
        "summary": "Fetch export",
        "tags": [
          "Exports"
        ],
        "description": "Fetches the information for the export with the ID `id`.\n\nThe user whose bearer access token is used to make the request must have at least manager role on the site.\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "site_id",
            "description": "ID of the site.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          },
          {
            "name": "export_id",
            "in": "path",
            "required": true,
            "description": "The ID of the export.",
            "example": "c4992a1d-f947-4893-9033-8c340bf39f00",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the export.",
                      "example": "efae435b-2ec5-403f-a091-46ecf1b8894b"
                    },
                    "folder_id": {
                      "type": "string",
                      "description": "ID of the folder.",
                      "example": "2e56b224-6708-4755-b6c9-35f9889e42dd"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the resource.",
                      "example": "Resource name"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "A site ID (in UUID v4 format) associated with the resource.",
                      "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of export, relates closely with the event that triggers the export.\n",
                      "enum": [
                        "engagement_start",
                        "engagement_transfer",
                        "engagement",
                        "inbox_message",
                        "operator_message",
                        "voicemail"
                      ],
                      "example": "engagement_start"
                    },
                    "content_type": {
                      "type": "string",
                      "description": "This specifies the `content-type` of the export definition.",
                      "enum": [
                        "text/html; charset=UTF-8",
                        "application/xml",
                        "application/json"
                      ],
                      "example": "application/json"
                    },
                    "template": {
                      "type": "string",
                      "description": "Look at the template definition for the description of this parameter.",
                      "example": "<?xml version=\\\"1.0\\\"\nencoding=\\\"UTF-8\\\"?>\\n<export><visitor_name>{visitor_name}</visitor_name>\\n</export>\n"
                    },
                    "email_subject": {
                      "type": "string",
                      "description": "The subject for exports sent by email. A subject can contain field tags to dynamically include export-specific data.\n",
                      "example": "Glia engagement with {visitor_name}"
                    },
                    "enabled": {
                      "type": "boolean",
                      "description": "Specifies whether the export is active.",
                      "example": true,
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "send_to_operator": {
                      "type": "boolean",
                      "description": "Specifies whether the export is sent to corresponding operator(s).\n\n* For export type `engagement`, the export is sent to all operators who participated in the engagement.\n* For export type `inbox_message`, the export is sent to all operators associated with the site.\n",
                      "example": true,
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "trigger": {
                      "type": "string",
                      "description": "Specifies whether the export template should be triggered automatically, or only when the operator explicitly\nopts in.\n",
                      "enum": [
                        "system",
                        "on_demand"
                      ],
                      "example": "system"
                    },
                    "crm_recipient": {
                      "type": "object",
                      "description": "A JSON object describing how the Leads are sent via HTTP POST.",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "This specifies whether the export should be sent by HTTP POST.",
                          "enum": [
                            true,
                            false
                          ]
                        },
                        "url": {
                          "type": "string",
                          "description": "The URL to which the export should be sent.",
                          "example": "https://company.com/crm"
                        },
                        "headers": {
                          "type": "object",
                          "description": "A set of headers to be sent along with the HTTP POST request. Typically, headers are used for authorization.\n",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "example": {
                            "Accept": "application/xml",
                            "Authorization": "CRM_Auth_Token"
                          }
                        }
                      }
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL to which the export should be sent.",
                      "example": "https://company.com/crm"
                    },
                    "headers": {
                      "type": "object",
                      "description": "A set of headers to be sent along with the HTTP POST request. Typically, headers are used for authorization.\n",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "example": {
                        "Accept": "application/xml",
                        "Authorization": "CRM_Auth_Token"
                      }
                    },
                    "email_recipient": {
                      "type": "object",
                      "description": "A JSON object describing how Leads are sent via email.",
                      "properties": {
                        "enable": {
                          "type": "boolean",
                          "description": "This specifies whether the export should be sent by email.",
                          "enum": [
                            true,
                            false
                          ]
                        },
                        "emails": {
                          "type": "array",
                          "description": "An array of email addresses to which the export should be sent.\n",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "href": {
                      "type": "string",
                      "description": "Location of the export",
                      "example": "https://api.salemove.com/sites/2e56b224-6708-4755-b6c9-35f9889e42dd/crm/exports/5681e1d2-f7ac-4473-9809-2965bfd8ef02"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update export",
        "tags": [
          "Exports"
        ],
        "description": "Updates the export with the `id`.\n\nThe user making the request must have the super manager role on the given site.\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "site_id",
            "description": "ID of the site.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          },
          {
            "name": "export_id",
            "in": "path",
            "required": true,
            "description": "The ID of the export.",
            "example": "c4992a1d-f947-4893-9033-8c340bf39f00",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the export.",
                      "example": "efae435b-2ec5-403f-a091-46ecf1b8894b"
                    },
                    "folder_id": {
                      "type": "string",
                      "description": "ID of the folder.",
                      "example": "2e56b224-6708-4755-b6c9-35f9889e42dd"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the resource.",
                      "example": "Resource name"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "A site ID (in UUID v4 format) associated with the resource.",
                      "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of export, relates closely with the event that triggers the export.\n",
                      "enum": [
                        "engagement_start",
                        "engagement_transfer",
                        "engagement",
                        "inbox_message",
                        "operator_message",
                        "voicemail"
                      ],
                      "example": "engagement_start"
                    },
                    "content_type": {
                      "type": "string",
                      "description": "This specifies the `content-type` of the export definition.",
                      "enum": [
                        "text/html; charset=UTF-8",
                        "application/xml",
                        "application/json"
                      ],
                      "example": "application/json"
                    },
                    "template": {
                      "type": "string",
                      "description": "Look at the template definition for the description of this parameter.",
                      "example": "<?xml version=\\\"1.0\\\"\nencoding=\\\"UTF-8\\\"?>\\n<export><visitor_name>{visitor_name}</visitor_name>\\n</export>\n"
                    },
                    "email_subject": {
                      "type": "string",
                      "description": "The subject for exports sent by email. A subject can contain field tags to dynamically include export-specific data.\n",
                      "example": "Glia engagement with {visitor_name}"
                    },
                    "enabled": {
                      "type": "boolean",
                      "description": "Specifies whether the export is active.",
                      "example": true,
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "send_to_operator": {
                      "type": "boolean",
                      "description": "Specifies whether the export is sent to corresponding operator(s).\n\n* For export type `engagement`, the export is sent to all operators who participated in the engagement.\n* For export type `inbox_message`, the export is sent to all operators associated with the site.\n",
                      "example": true,
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "trigger": {
                      "type": "string",
                      "description": "Specifies whether the export template should be triggered automatically, or only when the operator explicitly\nopts in.\n",
                      "enum": [
                        "system",
                        "on_demand"
                      ],
                      "example": "system"
                    },
                    "crm_recipient": {
                      "type": "object",
                      "description": "A JSON object describing how the Leads are sent via HTTP POST.",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "This specifies whether the export should be sent by HTTP POST.",
                          "enum": [
                            true,
                            false
                          ]
                        },
                        "url": {
                          "type": "string",
                          "description": "The URL to which the export should be sent.",
                          "example": "https://company.com/crm"
                        },
                        "headers": {
                          "type": "object",
                          "description": "A set of headers to be sent along with the HTTP POST request. Typically, headers are used for authorization.\n",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "example": {
                            "Accept": "application/xml",
                            "Authorization": "CRM_Auth_Token"
                          }
                        }
                      }
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL to which the export should be sent.",
                      "example": "https://company.com/crm"
                    },
                    "headers": {
                      "type": "object",
                      "description": "A set of headers to be sent along with the HTTP POST request. Typically, headers are used for authorization.\n",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "example": {
                        "Accept": "application/xml",
                        "Authorization": "CRM_Auth_Token"
                      }
                    },
                    "email_recipient": {
                      "type": "object",
                      "description": "A JSON object describing how Leads are sent via email.",
                      "properties": {
                        "enable": {
                          "type": "boolean",
                          "description": "This specifies whether the export should be sent by email.",
                          "enum": [
                            true,
                            false
                          ]
                        },
                        "emails": {
                          "type": "array",
                          "description": "An array of email addresses to which the export should be sent.\n",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "href": {
                      "type": "string",
                      "description": "Location of the export",
                      "example": "https://api.salemove.com/sites/2e56b224-6708-4755-b6c9-35f9889e42dd/crm/exports/5681e1d2-f7ac-4473-9809-2965bfd8ef02"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete export",
        "tags": [
          "Exports"
        ],
        "description": "Deletes the export with `id`. Only users with the super manager role can delete exports.\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "site_id",
            "description": "ID of the site.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          },
          {
            "name": "export_id",
            "in": "path",
            "required": true,
            "description": "The ID of the export.",
            "example": "c4992a1d-f947-4893-9033-8c340bf39f00",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/site/{site_id}/crm/folders": {
      "post": {
        "summary": "Create folder",
        "tags": [
          "Export folders"
        ],
        "description": "Create an export folder.\n\nIt takes a JSON object containing a folder definition. The user must have at the super manager role on the site.\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "site_id",
            "description": "ID of the site.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the folder",
                    "example": "Sales Team Exports"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the folder",
                      "example": "f2e08627-6db1-49dc-a8df-74f923118f9c"
                    },
                    "folder_id": {
                      "type": "string",
                      "description": "ID of the parent folder",
                      "example": "e81cc85f-3ebd-4763-8d5b-66d5ca59d227"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the folder",
                      "example": "Sales Team Exports"
                    },
                    "type": {
                      "type": "string",
                      "description": "Always has value `folder`.",
                      "example": "folder"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "A site ID (in UUID v4 format) associated with the resource.",
                      "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    },
                    "href": {
                      "type": "string",
                      "description": "The URI for the folder.",
                      "example": "https://api.salemove.com/sites/2e56b224-6708-4755-b6c9-35f9889e42dd/crm/folders/5681e1d2-f7ac-4473-9809-2965bfd8ef02\n"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/site/{site_id}/crm/folders/{folder_id}": {
      "get": {
        "summary": "Fetch folder",
        "tags": [
          "Export folders"
        ],
        "description": "Fetches an export folder by its ID.\n\nThe `Authorization` header must contain the bearer access token of the user who has at least manager role on the\nexport folder's site.\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "site_id",
            "description": "ID of the site.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          },
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "description": "The ID of the folder.",
            "example": "c4992a1d-f947-4893-9033-8c340bf39f00",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the folder",
                      "example": "f2e08627-6db1-49dc-a8df-74f923118f9c"
                    },
                    "folder_id": {
                      "type": "string",
                      "description": "ID of the parent folder",
                      "example": "e81cc85f-3ebd-4763-8d5b-66d5ca59d227"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the folder",
                      "example": "Sales Team Exports"
                    },
                    "type": {
                      "type": "string",
                      "description": "Always has value `folder`.",
                      "example": "folder"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "A site ID (in UUID v4 format) associated with the resource.",
                      "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    },
                    "href": {
                      "type": "string",
                      "description": "The URI for the folder.",
                      "example": "https://api.salemove.com/sites/2e56b224-6708-4755-b6c9-35f9889e42dd/crm/folders/5681e1d2-f7ac-4473-9809-2965bfd8ef02\n"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update folder",
        "tags": [
          "Export folders"
        ],
        "description": "Updates an existing export folder on the given site.\n\nThe `Authorization` header must contain the bearer access token of the user who has the super manager role on the\nsite.\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "site_id",
            "description": "ID of the site.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          },
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "description": "The ID of the folder.",
            "example": "c4992a1d-f947-4893-9033-8c340bf39f00",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the folder",
                      "example": "f2e08627-6db1-49dc-a8df-74f923118f9c"
                    },
                    "folder_id": {
                      "type": "string",
                      "description": "ID of the parent folder",
                      "example": "e81cc85f-3ebd-4763-8d5b-66d5ca59d227"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the folder",
                      "example": "Sales Team Exports"
                    },
                    "type": {
                      "type": "string",
                      "description": "Always has value `folder`.",
                      "example": "folder"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "A site ID (in UUID v4 format) associated with the resource.",
                      "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    },
                    "href": {
                      "type": "string",
                      "description": "The URI for the folder.",
                      "example": "https://api.salemove.com/sites/2e56b224-6708-4755-b6c9-35f9889e42dd/crm/folders/5681e1d2-f7ac-4473-9809-2965bfd8ef02\n"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete folder",
        "tags": [
          "Export folders"
        ],
        "description": "Deletes an existing export folder on the site. Requires super manager role on the given site.\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "site_id",
            "description": "ID of the site.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          },
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "description": "The ID of the folder.",
            "example": "c4992a1d-f947-4893-9033-8c340bf39f00",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/sites/{site_id}/crm/tree": {
      "get": {
        "summary": "List folders and exports",
        "tags": [
          "Exports",
          "Export folders"
        ],
        "description": "Returns a list of all exports and folders for the site.\n\nThe response places the folders first and the exports after, both in alphabetical order. The user making the\nrequest must have at least manager role on the given site.\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "site_id",
            "description": "ID of the site.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID of the folder",
                            "example": "f2e08627-6db1-49dc-a8df-74f923118f9c"
                          },
                          "folder_id": {
                            "type": "string",
                            "description": "ID of the parent folder",
                            "example": "e81cc85f-3ebd-4763-8d5b-66d5ca59d227"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the folder",
                            "example": "Sales Team Exports"
                          },
                          "type": {
                            "type": "string",
                            "description": "Always has value `folder`.",
                            "example": "folder"
                          },
                          "site_id": {
                            "type": "string",
                            "description": "A site ID (in UUID v4 format) associated with the resource.",
                            "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was created.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who created the resource.",
                            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was updated.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "updated_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who updated the resource.",
                            "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                          },
                          "href": {
                            "type": "string",
                            "description": "The URI for the folder.",
                            "example": "https://api.salemove.com/sites/2e56b224-6708-4755-b6c9-35f9889e42dd/crm/folders/5681e1d2-f7ac-4473-9809-2965bfd8ef02\n"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID of the export.",
                            "example": "efae435b-2ec5-403f-a091-46ecf1b8894b"
                          },
                          "folder_id": {
                            "type": "string",
                            "description": "ID of the folder.",
                            "example": "2e56b224-6708-4755-b6c9-35f9889e42dd"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the resource.",
                            "example": "Resource name"
                          },
                          "site_id": {
                            "type": "string",
                            "description": "A site ID (in UUID v4 format) associated with the resource.",
                            "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of export, relates closely with the event that triggers the export.\n",
                            "enum": [
                              "engagement_start",
                              "engagement_transfer",
                              "engagement",
                              "inbox_message",
                              "operator_message",
                              "voicemail"
                            ],
                            "example": "engagement_start"
                          },
                          "content_type": {
                            "type": "string",
                            "description": "This specifies the `content-type` of the export definition.",
                            "enum": [
                              "text/html; charset=UTF-8",
                              "application/xml",
                              "application/json"
                            ],
                            "example": "application/json"
                          },
                          "template": {
                            "type": "string",
                            "description": "Look at the template definition for the description of this parameter.",
                            "example": "<?xml version=\\\"1.0\\\"\nencoding=\\\"UTF-8\\\"?>\\n<export><visitor_name>{visitor_name}</visitor_name>\\n</export>\n"
                          },
                          "email_subject": {
                            "type": "string",
                            "description": "The subject for exports sent by email. A subject can contain field tags to dynamically include export-specific data.\n",
                            "example": "Glia engagement with {visitor_name}"
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Specifies whether the export is active.",
                            "example": true,
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "send_to_operator": {
                            "type": "boolean",
                            "description": "Specifies whether the export is sent to corresponding operator(s).\n\n* For export type `engagement`, the export is sent to all operators who participated in the engagement.\n* For export type `inbox_message`, the export is sent to all operators associated with the site.\n",
                            "example": true,
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "trigger": {
                            "type": "string",
                            "description": "Specifies whether the export template should be triggered automatically, or only when the operator explicitly\nopts in.\n",
                            "enum": [
                              "system",
                              "on_demand"
                            ],
                            "example": "system"
                          },
                          "crm_recipient": {
                            "type": "object",
                            "description": "A JSON object describing how the Leads are sent via HTTP POST.",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "description": "This specifies whether the export should be sent by HTTP POST.",
                                "enum": [
                                  true,
                                  false
                                ]
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL to which the export should be sent.",
                                "example": "https://company.com/crm"
                              },
                              "headers": {
                                "type": "object",
                                "description": "A set of headers to be sent along with the HTTP POST request. Typically, headers are used for authorization.\n",
                                "additionalProperties": {
                                  "type": "string"
                                },
                                "example": {
                                  "Accept": "application/xml",
                                  "Authorization": "CRM_Auth_Token"
                                }
                              }
                            }
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL to which the export should be sent.",
                            "example": "https://company.com/crm"
                          },
                          "headers": {
                            "type": "object",
                            "description": "A set of headers to be sent along with the HTTP POST request. Typically, headers are used for authorization.\n",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "example": {
                              "Accept": "application/xml",
                              "Authorization": "CRM_Auth_Token"
                            }
                          },
                          "email_recipient": {
                            "type": "object",
                            "description": "A JSON object describing how Leads are sent via email.",
                            "properties": {
                              "enable": {
                                "type": "boolean",
                                "description": "This specifies whether the export should be sent by email.",
                                "enum": [
                                  true,
                                  false
                                ]
                              },
                              "emails": {
                                "type": "array",
                                "description": "An array of email addresses to which the export should be sent.\n",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "href": {
                            "type": "string",
                            "description": "Location of the export",
                            "example": "https://api.salemove.com/sites/2e56b224-6708-4755-b6c9-35f9889e42dd/crm/exports/5681e1d2-f7ac-4473-9809-2965bfd8ef02"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was created.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who created the resource.",
                            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was updated.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "updated_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who updated the resource.",
                            "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
