{
  "openapi": "3.0.0",
  "info": {
    "title": "Phone",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.salemove.com",
      "description": "Glia REST API base URL"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/omnicall/contacts": {
      "post": {
        "summary": "Create contact",
        "tags": [
          "Contacts"
        ],
        "description": "Creates a contact with the provided values.\n\nThe values do not have to be unique so it is possible to have multiple contacts with the same name and phone\nnumber. The contacts can be used to transfer an engagement from Glia to any phone number.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "site_id": {
                    "type": "string",
                    "description": "A site ID (in UUID v4 format) associated with the resource.",
                    "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the resource.",
                    "example": "Resource name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Short description of the resource.",
                    "example": "Short resource description"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                    "example": "+14156433423"
                  },
                  "phone_extension": {
                    "type": "string",
                    "description": "Phone number extension that is used when calling `phone_number`. A valid extension contains 1-7 digits and any\nnumber of `,` characters.\n\nThere is an initial two second delay time before the first extension character is processed. Each `,` character\nin the extension adds a two second wait time before the next character is processed. Maximum length is 25\ncharacters.\n\nFor operators, this parameter is retrieved from their settings.\n",
                    "example": ",,1,23"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email of the contact.",
                    "example": "alice@example.com"
                  }
                },
                "required": [
                  "site_id",
                  "name",
                  "phone_number"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "description": "Contact information.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of the resource.",
                      "example": "48e8b1bb-6ccb-431e-b15e-685500a5a45e"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "A site ID (in UUID v4 format) associated with the resource.",
                      "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the resource.",
                      "example": "Resource name"
                    },
                    "description": {
                      "type": "string",
                      "description": "Short description of the resource.",
                      "example": "Short resource description"
                    },
                    "phone_number": {
                      "type": "string",
                      "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                      "example": "+14156433423"
                    },
                    "phone_extension": {
                      "type": "string",
                      "description": "Phone number extension that is used when calling `phone_number`. A valid extension contains 1-7 digits and any\nnumber of `,` characters.\n\nThere is an initial two second delay time before the first extension character is processed. Each `,` character\nin the extension adds a two second wait time before the next character is processed. Maximum length is 25\ncharacters.\n\nFor operators, this parameter is retrieved from their settings.\n",
                      "example": ",,1,23"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email of the contact.",
                      "example": "alice@example.com"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List contacts",
        "tags": [
          "Contacts"
        ],
        "description": "Returns a list of quick contacts.\n\nUnless specified, contacts are returned for all sites that the requesting user has access to.\n",
        "parameters": [
          {
            "in": "query",
            "name": "site_ids[]",
            "description": "Only resources for the specified site IDs will be included in the response. Returns all resources if not specified.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "fdbdd61a-36d2-48e3-9eeb-009b18a6aa78",
              "84e2b66c-0289-419c-bd0a-a57fedf77ec7"
            ]
          },
          {
            "in": "query",
            "name": "contains",
            "description": "Only contacts where name, description or phone number contain the specified value, will be included in the\nresponse. All contacts will be returned, when this option is not specified.\n",
            "schema": {
              "type": "string"
            },
            "example": "alice"
          },
          {
            "in": "query",
            "name": "page",
            "description": "Specifies which page is requested. Default value is `1`.\n",
            "schema": {
              "type": "number"
            },
            "example": 2
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Specifies the number of contacts per page. Minimum value is `1`. Maximum value is `100`. Default value is `30`.\n",
            "schema": {
              "type": "number"
            },
            "example": 50
          },
          {
            "in": "query",
            "name": "order",
            "description": "Specifies how the contacts are ordered. Possible values are `asc` or `desc`.\nDefault value is `asc`.\n",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "example": "asc"
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Specifies the field by which the contacts are ordered by. Possible values are `name` or `description`. Default\nvalue is `name`.\n",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "description"
              ]
            },
            "example": "description"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "properties": {
                    "previous_page": {
                      "type": "string",
                      "description": "URL to the previous page. The value is null when the current page is the first page.\n",
                      "example": "https://api.salmeove.com/omnicall/contacts?page=1&per_page=3"
                    },
                    "next_page": {
                      "type": "string",
                      "description": "URL to the next page. The value is null when the current page is the last page.\n",
                      "example": "https://api.salmeove.com/omnicall/contacts?page=3&per_page=3"
                    },
                    "first_page": {
                      "type": "string",
                      "description": "URL to the first page.",
                      "example": "https://api.salmeove.com/omnicall/contacts?page=1&per_page=3"
                    },
                    "last_page": {
                      "type": "string",
                      "description": "URL to the previous page.",
                      "example": "https://api.salmeove.com/omnicall/contacts?page=3&per_page=3"
                    },
                    "contacts": {
                      "type": "array",
                      "description": "List of incoming phone numbers.",
                      "items": {
                        "type": "object",
                        "description": "Contact information.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of the resource.",
                            "example": "48e8b1bb-6ccb-431e-b15e-685500a5a45e"
                          },
                          "site_id": {
                            "type": "string",
                            "description": "A site ID (in UUID v4 format) associated with the resource.",
                            "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the resource.",
                            "example": "Resource name"
                          },
                          "description": {
                            "type": "string",
                            "description": "Short description of the resource.",
                            "example": "Short resource description"
                          },
                          "phone_number": {
                            "type": "string",
                            "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                            "example": "+14156433423"
                          },
                          "phone_extension": {
                            "type": "string",
                            "description": "Phone number extension that is used when calling `phone_number`. A valid extension contains 1-7 digits and any\nnumber of `,` characters.\n\nThere is an initial two second delay time before the first extension character is processed. Each `,` character\nin the extension adds a two second wait time before the next character is processed. Maximum length is 25\ncharacters.\n\nFor operators, this parameter is retrieved from their settings.\n",
                            "example": ",,1,23"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email of the contact.",
                            "example": "alice@example.com"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was created.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who created the resource.",
                            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was updated.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "updated_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who updated the resource.",
                            "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/omnicall/contacts/{contact_id}": {
      "get": {
        "summary": "Fetch contact",
        "tags": [
          "Contacts"
        ],
        "description": "Fetches a specified contact.",
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "contact_id",
            "description": "ID of the contact.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "description": "Contact information.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of the resource.",
                      "example": "48e8b1bb-6ccb-431e-b15e-685500a5a45e"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "A site ID (in UUID v4 format) associated with the resource.",
                      "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the resource.",
                      "example": "Resource name"
                    },
                    "description": {
                      "type": "string",
                      "description": "Short description of the resource.",
                      "example": "Short resource description"
                    },
                    "phone_number": {
                      "type": "string",
                      "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                      "example": "+14156433423"
                    },
                    "phone_extension": {
                      "type": "string",
                      "description": "Phone number extension that is used when calling `phone_number`. A valid extension contains 1-7 digits and any\nnumber of `,` characters.\n\nThere is an initial two second delay time before the first extension character is processed. Each `,` character\nin the extension adds a two second wait time before the next character is processed. Maximum length is 25\ncharacters.\n\nFor operators, this parameter is retrieved from their settings.\n",
                      "example": ",,1,23"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email of the contact.",
                      "example": "alice@example.com"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update contact",
        "tags": [
          "Contacts"
        ],
        "description": "Updates a contact.",
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "contact_id",
            "description": "ID of the contact.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the resource.",
                    "example": "Resource name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Short description of the resource.",
                    "example": "Short resource description"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                    "example": "+14156433423"
                  },
                  "phone_extension": {
                    "type": "string",
                    "description": "Phone number extension that is used when calling `phone_number`. A valid extension contains 1-7 digits and any\nnumber of `,` characters.\n\nThere is an initial two second delay time before the first extension character is processed. Each `,` character\nin the extension adds a two second wait time before the next character is processed. Maximum length is 25\ncharacters.\n\nFor operators, this parameter is retrieved from their settings.\n",
                    "example": ",,1,23"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email of the contact.",
                    "example": "alice@example.com"
                  }
                },
                "required": [
                  "name",
                  "phone_number"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "summary": "Delete contact",
        "tags": [
          "Contacts"
        ],
        "description": "Deletes a contact.",
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "contact_id",
            "description": "ID of the contact.",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/omnicall/available_phone_numbers": {
      "get": {
        "summary": "List available numbers",
        "tags": [
          "Phone channels"
        ],
        "description": "Lists the phone numbers available for purchase. Query string parameters allow you to limit the list of returned\nnumbers.\n\nOnly users with the super manager role can perform this request.\n",
        "parameters": [
          {
            "in": "query",
            "required": true,
            "name": "iso_country",
            "description": "Filters available phone numbers by country. The ISO country code format.\n",
            "schema": {
              "type": "string"
            },
            "example": "US"
          },
          {
            "in": "query",
            "name": "region",
            "description": "Filters available phone numbers by region. The two-letter state or province abbreviation. Only valid when ISO\ncountry is \"US\" or \"CA\".\n",
            "schema": {
              "type": "string"
            },
            "example": "NY"
          },
          {
            "in": "query",
            "name": "contains",
            "description": "A pattern on which to match phone numbers. Valid characters are `*` and `[0-9a-zA-Z]`. The `*` character will\nmatch any single digit.\n",
            "schema": {
              "type": "string"
            },
            "example": "1332*******"
          },
          {
            "in": "query",
            "name": "toll_free",
            "description": "If `true`, lists available toll-free phone numbers. If `false`, lists available local phone numbers. Default\nvalue is `false`.\n",
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "in": "query",
            "name": "mms_enabled",
            "description": "Whether the phone numbers can send and receive MMS messages.\n",
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "properties": {
                    "available_phone_numbers": {
                      "type": "array",
                      "description": "List of available phone numbers.",
                      "items": {
                        "type": "object",
                        "description": "Available phone number.",
                        "properties": {
                          "capabilities": {
                            "type": "object",
                            "description": "A list of capabilities that the phone number has.\n",
                            "properties": {
                              "mms": {
                                "type": "boolean",
                                "description": "Whether the phone number can send and receive MMS messages.\n",
                                "example": false
                              }
                            }
                          },
                          "phone_number": {
                            "type": "string",
                            "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                            "example": "+14156433423"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "The postal (zip) code of the phone number. Only defined when the phone number is local.\n",
                            "example": "415"
                          },
                          "region": {
                            "type": "string",
                            "description": "The two-letter state or province abbreviation, e.g. \"NY\". Only defined when the phone number is local.\n",
                            "example": "NY"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/omnicall/incoming_phone_numbers": {
      "post": {
        "summary": "Buy number",
        "tags": [
          "Phone channels"
        ],
        "description": "Buys an incoming phone number if the number is available.\n\nOnly users with the super manager role can add incoming phone numbers.\n",
        "parameters": [
          {
            "in": "query",
            "required": true,
            "name": "phone_number",
            "description": "The incoming phone number.",
            "schema": {
              "type": "string"
            },
            "example": "+14156433423"
          },
          {
            "in": "query",
            "required": true,
            "name": "name",
            "description": "Name of the incoming phone number.",
            "schema": {
              "type": "string"
            },
            "example": "Phone number name"
          },
          {
            "in": "query",
            "name": "description",
            "description": "Short description of the incoming phone number.",
            "schema": {
              "type": "string"
            },
            "example": "Phone number description"
          },
          {
            "in": "query",
            "required": true,
            "name": "site_id",
            "description": "Site ID (in UUID v4 format) of the site the number will belong to.\n",
            "schema": {
              "type": "string"
            },
            "example": "6cd6c309-7d5c-42a0-8750-e8996a15c387"
          },
          {
            "in": "query",
            "name": "queue_id",
            "description": "ID of the queue (in UUID v4 format) to associate with the incoming phone\nnumber.\n",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "description": "Incoming phone number.",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the resource.",
                      "example": "Resource name"
                    },
                    "description": {
                      "type": "string",
                      "description": "Short description of the resource.",
                      "example": "Short resource description"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "A site ID (in UUID v4 format) associated with the resource.",
                      "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                    },
                    "queue_id": {
                      "type": "string",
                      "description": "A queue ID (in UUID v4 format) associated with the resource.",
                      "example": "4fb75608-06ec-4c08-8866-447faf4b198e"
                    },
                    "phone_number": {
                      "type": "string",
                      "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                      "example": "+14156433423"
                    },
                    "capabilities": {
                      "type": "object",
                      "description": "A list of capabilities that the phone number has.\n",
                      "properties": {
                        "mms": {
                          "type": "boolean",
                          "description": "Whether the phone number can send and receive MMS messages.\n",
                          "example": false
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    },
                    "last_used_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was last used.\n",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "forwarding_option": {
                      "type": "object",
                      "description": "Forwarding options for when a call cannot be routed to any operator.\n",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "One of `phone_number`, `voice_mailbox`, `none`. When `none` then the call is ended when it cannot be routed\nto any operator.\n",
                          "enum": [
                            "phone_number",
                            "voice_mailbox",
                            "none"
                          ]
                        },
                        "phone_number": {
                          "type": "string",
                          "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                          "example": "+14156433423"
                        },
                        "voice_mailbox_id": {
                          "type": "string",
                          "description": "Voice mailbox ID (in UUID v4 format).",
                          "example": "42c2e76e-4a60-49cd-9ef9-bdbf850ab9d7"
                        }
                      }
                    },
                    "visitor_context": {
                      "description": "The illustration file which is shown to the Operator during the engagement.\n",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Illustration asset's ID (in UUID v4 format).",
                          "example": "c3753f72-fcfe-4b4d-b91e-b48f46d149f9"
                        },
                        "name": {
                          "type": "string",
                          "description": "Illustration asset's name.",
                          "example": "My illustration asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Illustration asset's type.",
                          "example": "illustration"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/c3753f72-fcfe-4b4d-b91e-b48f46d149f9"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "application/pdf"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    },
                    "pre_queue_audio": {
                      "description": "The audio file which is played prior to entering the queue.",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Audio asset's ID (in UUID v4 format).",
                          "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "name": {
                          "type": "string",
                          "description": "Audio asset's name.",
                          "example": "My audio asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Audio asset's type.",
                          "example": "audio"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "audio/mpeg"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    },
                    "post_queue_audio": {
                      "description": "The audio file which is played right before the call is connected to the operator.\n",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Audio asset's ID (in UUID v4 format).",
                          "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "name": {
                          "type": "string",
                          "description": "Audio asset's name.",
                          "example": "My audio asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Audio asset's type.",
                          "example": "audio"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "audio/mpeg"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    },
                    "in_queue_audio": {
                      "description": "The audio file which is played while the visitor is waiting in the queue.\n",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Audio asset's ID (in UUID v4 format).",
                          "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "name": {
                          "type": "string",
                          "description": "Audio asset's name.",
                          "example": "My audio asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Audio asset's type.",
                          "example": "audio"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "audio/mpeg"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    },
                    "full_queue_audio": {
                      "description": "The audio file which is played when the queue is full.\n",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Audio asset's ID (in UUID v4 format).",
                          "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "name": {
                          "type": "string",
                          "description": "Audio asset's name.",
                          "example": "My audio asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Audio asset's type.",
                          "example": "audio"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "audio/mpeg"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    },
                    "bounced_queue_audio": {
                      "description": "The audio file which is played when a visitor is bounced from the queue due to normal or abnormal system's\nbehavior.\n",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Audio asset's ID (in UUID v4 format).",
                          "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "name": {
                          "type": "string",
                          "description": "Audio asset's name.",
                          "example": "My audio asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Audio asset's type.",
                          "example": "audio"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "audio/mpeg"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List numbers",
        "tags": [
          "Phone channels"
        ],
        "description": "Returns a list of bought incoming phone numbers which can be managed by the requester.\n\nThe user whose bearer access token is used in `Authorization` must have the role super manager.\n",
        "parameters": [
          {
            "in": "query",
            "name": "site_id",
            "description": "Site ID (in UUID v4 format) of the site the number will belong to.\n",
            "schema": {
              "type": "string"
            },
            "example": "6cd6c309-7d5c-42a0-8750-e8996a15c387"
          },
          {
            "in": "query",
            "name": "queue_id",
            "description": "ID of the queue (in UUID v4 format) to associate with the incoming phone\nnumber.\n",
            "schema": {
              "type": "string"
            },
            "example": "31a3f2ea-4473-4519-8f9e-a33cc6a48a74"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "properties": {
                    "incoming_phone_numbers": {
                      "type": "array",
                      "description": "List of incoming phone numbers.",
                      "items": {
                        "type": "object",
                        "description": "Incoming phone number.",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of the resource.",
                            "example": "Resource name"
                          },
                          "description": {
                            "type": "string",
                            "description": "Short description of the resource.",
                            "example": "Short resource description"
                          },
                          "site_id": {
                            "type": "string",
                            "description": "A site ID (in UUID v4 format) associated with the resource.",
                            "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                          },
                          "queue_id": {
                            "type": "string",
                            "description": "A queue ID (in UUID v4 format) associated with the resource.",
                            "example": "4fb75608-06ec-4c08-8866-447faf4b198e"
                          },
                          "phone_number": {
                            "type": "string",
                            "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                            "example": "+14156433423"
                          },
                          "capabilities": {
                            "type": "object",
                            "description": "A list of capabilities that the phone number has.\n",
                            "properties": {
                              "mms": {
                                "type": "boolean",
                                "description": "Whether the phone number can send and receive MMS messages.\n",
                                "example": false
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was created.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who created the resource.",
                            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was updated.",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "updated_by": {
                            "type": "string",
                            "description": "A user ID (in UUID v4 format) of who updated the resource.",
                            "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                          },
                          "last_used_at": {
                            "type": "string",
                            "description": "An ISO-8601 timestamp of when the resource was last used.\n",
                            "example": "2016-06-21T09:12:33.001Z"
                          },
                          "forwarding_option": {
                            "type": "object",
                            "description": "Forwarding options for when a call cannot be routed to any operator.\n",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "One of `phone_number`, `voice_mailbox`, `none`. When `none` then the call is ended when it cannot be routed\nto any operator.\n",
                                "enum": [
                                  "phone_number",
                                  "voice_mailbox",
                                  "none"
                                ]
                              },
                              "phone_number": {
                                "type": "string",
                                "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                                "example": "+14156433423"
                              },
                              "voice_mailbox_id": {
                                "type": "string",
                                "description": "Voice mailbox ID (in UUID v4 format).",
                                "example": "42c2e76e-4a60-49cd-9ef9-bdbf850ab9d7"
                              }
                            }
                          },
                          "visitor_context": {
                            "description": "The illustration file which is shown to the Operator during the engagement.\n",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Illustration asset's ID (in UUID v4 format).",
                                "example": "c3753f72-fcfe-4b4d-b91e-b48f46d149f9"
                              },
                              "name": {
                                "type": "string",
                                "description": "Illustration asset's name.",
                                "example": "My illustration asset"
                              },
                              "type": {
                                "type": "string",
                                "description": "Illustration asset's type.",
                                "example": "illustration"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL from which the contents of the associated file can be retrieved.",
                                "example": "https://api.salemove.com/omnicall/assets/c3753f72-fcfe-4b4d-b91e-b48f46d149f9"
                              },
                              "content_type": {
                                "type": "string",
                                "description": "MIME type of the asset's file.",
                                "example": "application/pdf"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "An ISO-8601 timestamp of when the resource was created.",
                                "example": "2016-06-21T09:12:33.001Z"
                              },
                              "created_by": {
                                "type": "string",
                                "description": "A user ID (in UUID v4 format) of who created the resource.",
                                "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                              }
                            }
                          },
                          "pre_queue_audio": {
                            "description": "The audio file which is played prior to entering the queue.",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Audio asset's ID (in UUID v4 format).",
                                "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                              },
                              "name": {
                                "type": "string",
                                "description": "Audio asset's name.",
                                "example": "My audio asset"
                              },
                              "type": {
                                "type": "string",
                                "description": "Audio asset's type.",
                                "example": "audio"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL from which the contents of the associated file can be retrieved.",
                                "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                              },
                              "content_type": {
                                "type": "string",
                                "description": "MIME type of the asset's file.",
                                "example": "audio/mpeg"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "An ISO-8601 timestamp of when the resource was created.",
                                "example": "2016-06-21T09:12:33.001Z"
                              },
                              "created_by": {
                                "type": "string",
                                "description": "A user ID (in UUID v4 format) of who created the resource.",
                                "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                              }
                            }
                          },
                          "post_queue_audio": {
                            "description": "The audio file which is played right before the call is connected to the operator.\n",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Audio asset's ID (in UUID v4 format).",
                                "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                              },
                              "name": {
                                "type": "string",
                                "description": "Audio asset's name.",
                                "example": "My audio asset"
                              },
                              "type": {
                                "type": "string",
                                "description": "Audio asset's type.",
                                "example": "audio"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL from which the contents of the associated file can be retrieved.",
                                "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                              },
                              "content_type": {
                                "type": "string",
                                "description": "MIME type of the asset's file.",
                                "example": "audio/mpeg"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "An ISO-8601 timestamp of when the resource was created.",
                                "example": "2016-06-21T09:12:33.001Z"
                              },
                              "created_by": {
                                "type": "string",
                                "description": "A user ID (in UUID v4 format) of who created the resource.",
                                "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                              }
                            }
                          },
                          "in_queue_audio": {
                            "description": "The audio file which is played while the visitor is waiting in the queue.\n",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Audio asset's ID (in UUID v4 format).",
                                "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                              },
                              "name": {
                                "type": "string",
                                "description": "Audio asset's name.",
                                "example": "My audio asset"
                              },
                              "type": {
                                "type": "string",
                                "description": "Audio asset's type.",
                                "example": "audio"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL from which the contents of the associated file can be retrieved.",
                                "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                              },
                              "content_type": {
                                "type": "string",
                                "description": "MIME type of the asset's file.",
                                "example": "audio/mpeg"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "An ISO-8601 timestamp of when the resource was created.",
                                "example": "2016-06-21T09:12:33.001Z"
                              },
                              "created_by": {
                                "type": "string",
                                "description": "A user ID (in UUID v4 format) of who created the resource.",
                                "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                              }
                            }
                          },
                          "full_queue_audio": {
                            "description": "The audio file which is played when the queue is full.\n",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Audio asset's ID (in UUID v4 format).",
                                "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                              },
                              "name": {
                                "type": "string",
                                "description": "Audio asset's name.",
                                "example": "My audio asset"
                              },
                              "type": {
                                "type": "string",
                                "description": "Audio asset's type.",
                                "example": "audio"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL from which the contents of the associated file can be retrieved.",
                                "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                              },
                              "content_type": {
                                "type": "string",
                                "description": "MIME type of the asset's file.",
                                "example": "audio/mpeg"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "An ISO-8601 timestamp of when the resource was created.",
                                "example": "2016-06-21T09:12:33.001Z"
                              },
                              "created_by": {
                                "type": "string",
                                "description": "A user ID (in UUID v4 format) of who created the resource.",
                                "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                              }
                            }
                          },
                          "bounced_queue_audio": {
                            "description": "The audio file which is played when a visitor is bounced from the queue due to normal or abnormal system's\nbehavior.\n",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Audio asset's ID (in UUID v4 format).",
                                "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                              },
                              "name": {
                                "type": "string",
                                "description": "Audio asset's name.",
                                "example": "My audio asset"
                              },
                              "type": {
                                "type": "string",
                                "description": "Audio asset's type.",
                                "example": "audio"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL from which the contents of the associated file can be retrieved.",
                                "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                              },
                              "content_type": {
                                "type": "string",
                                "description": "MIME type of the asset's file.",
                                "example": "audio/mpeg"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "An ISO-8601 timestamp of when the resource was created.",
                                "example": "2016-06-21T09:12:33.001Z"
                              },
                              "created_by": {
                                "type": "string",
                                "description": "A user ID (in UUID v4 format) of who created the resource.",
                                "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/omnicall/incoming_phone_numbers/{phone_number}": {
      "get": {
        "summary": "Fetch number",
        "tags": [
          "Phone channels"
        ],
        "description": "Fetches information of a specified (already bought) incoming phone number.\n\nThe user requesting this information must have the role super manager.\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "phone_number",
            "description": "The incoming phone number.",
            "schema": {
              "type": "string"
            },
            "example": "+14156433423"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "description": "Incoming phone number.",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the resource.",
                      "example": "Resource name"
                    },
                    "description": {
                      "type": "string",
                      "description": "Short description of the resource.",
                      "example": "Short resource description"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "A site ID (in UUID v4 format) associated with the resource.",
                      "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                    },
                    "queue_id": {
                      "type": "string",
                      "description": "A queue ID (in UUID v4 format) associated with the resource.",
                      "example": "4fb75608-06ec-4c08-8866-447faf4b198e"
                    },
                    "phone_number": {
                      "type": "string",
                      "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                      "example": "+14156433423"
                    },
                    "capabilities": {
                      "type": "object",
                      "description": "A list of capabilities that the phone number has.\n",
                      "properties": {
                        "mms": {
                          "type": "boolean",
                          "description": "Whether the phone number can send and receive MMS messages.\n",
                          "example": false
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    },
                    "last_used_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was last used.\n",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "forwarding_option": {
                      "type": "object",
                      "description": "Forwarding options for when a call cannot be routed to any operator.\n",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "One of `phone_number`, `voice_mailbox`, `none`. When `none` then the call is ended when it cannot be routed\nto any operator.\n",
                          "enum": [
                            "phone_number",
                            "voice_mailbox",
                            "none"
                          ]
                        },
                        "phone_number": {
                          "type": "string",
                          "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                          "example": "+14156433423"
                        },
                        "voice_mailbox_id": {
                          "type": "string",
                          "description": "Voice mailbox ID (in UUID v4 format).",
                          "example": "42c2e76e-4a60-49cd-9ef9-bdbf850ab9d7"
                        }
                      }
                    },
                    "visitor_context": {
                      "description": "The illustration file which is shown to the Operator during the engagement.\n",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Illustration asset's ID (in UUID v4 format).",
                          "example": "c3753f72-fcfe-4b4d-b91e-b48f46d149f9"
                        },
                        "name": {
                          "type": "string",
                          "description": "Illustration asset's name.",
                          "example": "My illustration asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Illustration asset's type.",
                          "example": "illustration"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/c3753f72-fcfe-4b4d-b91e-b48f46d149f9"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "application/pdf"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    },
                    "pre_queue_audio": {
                      "description": "The audio file which is played prior to entering the queue.",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Audio asset's ID (in UUID v4 format).",
                          "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "name": {
                          "type": "string",
                          "description": "Audio asset's name.",
                          "example": "My audio asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Audio asset's type.",
                          "example": "audio"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "audio/mpeg"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    },
                    "post_queue_audio": {
                      "description": "The audio file which is played right before the call is connected to the operator.\n",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Audio asset's ID (in UUID v4 format).",
                          "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "name": {
                          "type": "string",
                          "description": "Audio asset's name.",
                          "example": "My audio asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Audio asset's type.",
                          "example": "audio"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "audio/mpeg"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    },
                    "in_queue_audio": {
                      "description": "The audio file which is played while the visitor is waiting in the queue.\n",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Audio asset's ID (in UUID v4 format).",
                          "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "name": {
                          "type": "string",
                          "description": "Audio asset's name.",
                          "example": "My audio asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Audio asset's type.",
                          "example": "audio"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "audio/mpeg"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    },
                    "full_queue_audio": {
                      "description": "The audio file which is played when the queue is full.\n",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Audio asset's ID (in UUID v4 format).",
                          "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "name": {
                          "type": "string",
                          "description": "Audio asset's name.",
                          "example": "My audio asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Audio asset's type.",
                          "example": "audio"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "audio/mpeg"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    },
                    "bounced_queue_audio": {
                      "description": "The audio file which is played when a visitor is bounced from the queue due to normal or abnormal system's\nbehavior.\n",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Audio asset's ID (in UUID v4 format).",
                          "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "name": {
                          "type": "string",
                          "description": "Audio asset's name.",
                          "example": "My audio asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Audio asset's type.",
                          "example": "audio"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "audio/mpeg"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update number",
        "tags": [
          "Phone channels"
        ],
        "description": "Updates the bought incoming phone number's information.\n",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "phone_number",
            "description": "The incoming phone number.",
            "schema": {
              "type": "string"
            },
            "example": "+14156433423"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "queue_id": {
                    "type": "string",
                    "description": "A queue ID (in UUID v4 format) associated with the resource.",
                    "example": "4fb75608-06ec-4c08-8866-447faf4b198e"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the resource.",
                    "example": "Resource name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Short description of the resource.",
                    "example": "Short resource description"
                  },
                  "forwarding_option": {
                    "type": "object",
                    "description": "Forwarding options for when a call cannot be routed to any operator.\n",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "One of `phone_number`, `voice_mailbox`, `none`. When `none` then the call is ended when it cannot be routed\nto any operator.\n",
                        "enum": [
                          "phone_number",
                          "voice_mailbox",
                          "none"
                        ]
                      },
                      "phone_number": {
                        "type": "string",
                        "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                        "example": "+14156433423"
                      },
                      "voice_mailbox_id": {
                        "type": "string",
                        "description": "Voice mailbox ID (in UUID v4 format).",
                        "example": "42c2e76e-4a60-49cd-9ef9-bdbf850ab9d7"
                      }
                    }
                  },
                  "visitor_context_id": {
                    "type": "string",
                    "description": "ID of the illustration asset which is shown to the operator during the\nengagement.\n",
                    "example": "2cad0378-16ab-4752-9f10-03e664d7c9e7"
                  },
                  "pre_queue_audio_id": {
                    "type": "string",
                    "description": "ID of the audio asset which is played prior to entering the queue.\n",
                    "example": "d01b3392-e4d7-47ce-a87d-1ea05e18ddcf"
                  },
                  "post_queue_audio_id": {
                    "type": "string",
                    "description": "ID of the audio asset which is played right before the call is connected to the operator.\n",
                    "example": "4fabcb7b-b1ca-4f48-b4f7-fee3abbcf3bf"
                  },
                  "in_queue_audio_id": {
                    "type": "string",
                    "description": "ID of the audio asset which is played while the visitor is waiting in the queue.\n",
                    "example": "7e97c24e-0ddc-4c51-ae81-4e325710710b"
                  },
                  "full_queue_audio_id": {
                    "type": "string",
                    "description": "ID of the audio asset which is played when the queue is full.\n",
                    "example": "3805ec13-04dd-4362-82c8-f46447c9e2ad"
                  },
                  "bounced_queue_audio_id": {
                    "type": "string",
                    "description": "ID of the audio asset which is played when a visitor is bounced from the queue due to normal or abnormal system's\nbehavior.\n",
                    "example": "15c41b00-e184-4bc1-aff1-6ab8cd3a73f7"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "type": "object",
                  "description": "Incoming phone number.",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the resource.",
                      "example": "Resource name"
                    },
                    "description": {
                      "type": "string",
                      "description": "Short description of the resource.",
                      "example": "Short resource description"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "A site ID (in UUID v4 format) associated with the resource.",
                      "example": "4e12729c-96a8-436b-ba63-4d5cfc92abf3"
                    },
                    "queue_id": {
                      "type": "string",
                      "description": "A queue ID (in UUID v4 format) associated with the resource.",
                      "example": "4fb75608-06ec-4c08-8866-447faf4b198e"
                    },
                    "phone_number": {
                      "type": "string",
                      "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                      "example": "+14156433423"
                    },
                    "capabilities": {
                      "type": "object",
                      "description": "A list of capabilities that the phone number has.\n",
                      "properties": {
                        "mms": {
                          "type": "boolean",
                          "description": "Whether the phone number can send and receive MMS messages.\n",
                          "example": false
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was created.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who created the resource.",
                      "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was updated.",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "updated_by": {
                      "type": "string",
                      "description": "A user ID (in UUID v4 format) of who updated the resource.",
                      "example": "b5cee5ac-a44b-433b-ae86-4a854fd474ab"
                    },
                    "last_used_at": {
                      "type": "string",
                      "description": "An ISO-8601 timestamp of when the resource was last used.\n",
                      "example": "2016-06-21T09:12:33.001Z"
                    },
                    "forwarding_option": {
                      "type": "object",
                      "description": "Forwarding options for when a call cannot be routed to any operator.\n",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "One of `phone_number`, `voice_mailbox`, `none`. When `none` then the call is ended when it cannot be routed\nto any operator.\n",
                          "enum": [
                            "phone_number",
                            "voice_mailbox",
                            "none"
                          ]
                        },
                        "phone_number": {
                          "type": "string",
                          "description": "Phone number in [E.164 Format](doc:glossary#phone-number).\n",
                          "example": "+14156433423"
                        },
                        "voice_mailbox_id": {
                          "type": "string",
                          "description": "Voice mailbox ID (in UUID v4 format).",
                          "example": "42c2e76e-4a60-49cd-9ef9-bdbf850ab9d7"
                        }
                      }
                    },
                    "visitor_context": {
                      "description": "The illustration file which is shown to the Operator during the engagement.\n",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Illustration asset's ID (in UUID v4 format).",
                          "example": "c3753f72-fcfe-4b4d-b91e-b48f46d149f9"
                        },
                        "name": {
                          "type": "string",
                          "description": "Illustration asset's name.",
                          "example": "My illustration asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Illustration asset's type.",
                          "example": "illustration"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/c3753f72-fcfe-4b4d-b91e-b48f46d149f9"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "application/pdf"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    },
                    "pre_queue_audio": {
                      "description": "The audio file which is played prior to entering the queue.",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Audio asset's ID (in UUID v4 format).",
                          "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "name": {
                          "type": "string",
                          "description": "Audio asset's name.",
                          "example": "My audio asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Audio asset's type.",
                          "example": "audio"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "audio/mpeg"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    },
                    "post_queue_audio": {
                      "description": "The audio file which is played right before the call is connected to the operator.\n",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Audio asset's ID (in UUID v4 format).",
                          "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "name": {
                          "type": "string",
                          "description": "Audio asset's name.",
                          "example": "My audio asset"
                        },
                        "type": {
                          "type": "string",
                          "description": "Audio asset's type.",
                          "example": "audio"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL from which the contents of the associated file can be retrieved.",
                          "example": "https://api.salemove.com/omnicall/assets/6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the asset's file.",
                          "example": "audio/mpeg"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "An ISO-8601 timestamp of when the resource was created.",
                          "example": "2016-06-21T09:12:33.001Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "A user ID (in UUID v4 format) of who created the resource.",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        }
                      }
                    },
                    "in_queue_audio": {
                      "description": "The audio file which is played while the visitor is waiting in the queue.\n",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Audio asset's ID (in UUID v4 format).",
                          "example": "6e42cf68-b802-11e7-abc4-cec278b6b50a"
                        },
[...]
