{
  "openapi": "3.0.3",
  "info": {
    "title": "Push Notifications",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.salemove.com",
      "description": "Glia REST API base URL"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/push/credentials": {
      "post": {
        "summary": "Create credential",
        "tags": [
          "Credentials"
        ],
        "description": "Creates a push notification credential for a given site.\n\nThe credentials are required to enable push notifications for mobile applications built with the Glia [Visitor iOS SDK](https://docs.glia.com/glia-dev/docs/visitor-ios-sdk) or [Visitor Android SDK](https://docs.glia.com/glia-dev/docs/visitor-android-sdk). The credentials are used to forward push notifications to the appropriate service, depending on the credential type. The following credential types are supported:\n\n\n  * `apns` - Used to send push notifications to Apple iOS devices. Glia\n  forwards the push notifications to the Apple Push Notification service.\n\n  * `fcm` - Used to send push notifications to Android devices. Glia\n  forwards the push notifications to the Firebase Cloud Messaging service.\n\n\nA site can have multiple credentials, but only a single credential per type.\n\nThe user creating a credential must have at least manager role on the given site.\n",
        "requestBody": {
          "description": "Credential properties",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "Create credential for Apple iOS devices (APNs)",
                    "type": "object",
                    "properties": {
                      "site_id": {
                        "type": "string",
                        "description": "ID of the site to create the credential on. Cannot be modified.",
                        "example": "def34343-e888-43ae-99e0-07a676e9a111"
                      },
                      "type": {
                        "type": "string",
                        "description": "Credential type.",
                        "enum": [
                          "apns"
                        ],
                        "example": "apns"
                      },
                      "credentials": {
                        "type": "object",
                        "description": "Credentials for Apple Push Notification service.",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "A private key in PEM format.\n\nTo pass a well-formed PEM file in this string, replace the newlines with `\\n` characters. The maximum length of this field is 3072 characters (or 3072 bytes for non-ASCII strings).\n",
                            "example": "-----BEGIN PRIVATE KEY-----\nMIIBVAIBADANBgkqhkiG9w0BAQEFAASCAT4wggE6AgEAAkEA19Bca2eHtp/pfaj2\n327JFvxMcx6zVq7p3WFo+0D6Lm3ffLPqQcOW3T6cPH8pmRhn38EyGaZtHDG/K1tW\nARtxiwIDAQABAkBIWccSDtRVqkip4wJYp5hsx0qN8YXoEp2+pRB/4ym8dGU5voHv\ntimNIwlPMYyLNkKhTZ8mPHfeXD5q3VLwPAahAiEA/i3DYkaT70LZLDy/ZD3wGIn+\neOskY9D+d/LlwxOYjHsCIQDZXDnEFwJie0p7W1VS52xVocv+LFViu//TqFGed9dK\nMQIhAKCpqpOnCwE0XvPAXjXtlKLeLtSdxT22r/J/vU2GSGmbAiBgUvmah6Pb5s1c\nG16Vjc85p6kSK61vQucdckMxWeSDkQIgKW2ObYX1tO3hAkR8NUUWthO/AHTmi/SM\naoEbfHlOk1c=\n-----END PRIVATE KEY-----\n"
                          },
                          "certificate": {
                            "type": "string",
                            "description": "A certificate in PEM format that corresponds to the private key and has been signed by Apple.\n\nTo pass a well-formed PEM file in this string, replace the newlines with `\\n` characters.\n",
                            "example": "-----BEGIN CERTIFICATE-----\nMIIBLTCB2AIJAPxGOipHzw+pMA0GCSqGSIb3DQEBCwUAMB4xHDAaBgNVBAMME0V4\nYW1wbGUgY2VydGlmaWNhdGUwHhcNMjEwMjA5MDY1OTEwWhcNMjIwMjA5MDY1OTEw\nWjAeMRwwGgYDVQQDDBNFeGFtcGxlIGNlcnRpZmljYXRlMFwwDQYJKoZIhvcNAQEB\nBQADSwAwSAJBANfQXGtnh7af6X2o9t9uyRb8THMes1au6d1haPtA+i5t33yz6kHD\nlt0+nDx/KZkYZ9/BMhmmbRwxvytbVgEbcYsCAwEAATANBgkqhkiG9w0BAQsFAANB\nAKpCy0WOtbv/7qSeJjUMqAQ5R7hodnEDadVnDfWAlHQhfTkAGfeMEaBgI9f//mwZ\nO27uaGe9TMcFR3upacdpIcI=\n-----END CERTIFICATE-----\n"
                          }
                        },
                        "required": [
                          "key",
                          "certificate"
                        ]
                      }
                    },
                    "required": [
                      "site_id",
                      "type",
                      "credentials"
                    ]
                  },
                  {
                    "title": "Create credential for Android devices (FCM)",
                    "type": "object",
                    "properties": {
                      "site_id": {
                        "type": "string",
                        "description": "ID of the site to create the credential on. Cannot be modified.",
                        "example": "def34343-e888-43ae-99e0-07a676e9a111"
                      },
                      "type": {
                        "type": "string",
                        "description": "Credential type.",
                        "enum": [
                          "fcm"
                        ],
                        "example": "fcm"
                      },
                      "credentials": {
                        "type": "object",
                        "description": "Credentials for Firebase Cloud Messaging service.",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "A Firebase server key.\n",
                            "example": "SW5zZXJ0IGEgYmFzZSA2NCBlbmNvZGVkIEZpcmViYXNlIENsb3VkIE1lc3NhZ2luZyBrZXkgaGVyZQ=="
                          }
                        },
                        "required": [
                          "key"
                        ]
                      }
                    },
                    "required": [
                      "site_id",
                      "type",
                      "credentials"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The credential is successfully created and stored.\n",
            "content": {
              "application/vnd.salemove.v1+json": {
                "schema": {
                  "properties": {
                    "credential_id": {
                      "type": "string",
                      "description": "A unique ID of the credential. This is automatically generated when creating a credential and cannot be modified.\n",
                      "example": "4c76aaa6-176f-4be3-9a53-12055568c797"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Your bearer token has expired or you are not authorized to perform this request.\n"
          },
          "403": {
            "description": "Your bearer token is valid but you have no access to the requested resource.\n"
          },
          "422": {
            "description": "Invalid input. Check if the request is correct."
          },
          "500": {
            "description": "Internal server error has occurred. Please try again later."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
